extends ../../layout/layout

block variables
  - var title = 'Основы анимации'
  - var pageClass = 'article-page'

block content
  main(class= pageClass)
    article.content
      h1= title
      h2 Применение анимаций в вебе
      p Задача дизайнера – создать продукт, с помощью которого пользователь сможет эффективно решить свою задачуи получить положительный пользовательский опыт.
      ul
        li Обратная связь, реакции на действия пользователя.
        li Донесение информации о проиходящем. Например, для визуализации прогресса при выполнении какой-либо долгой операции.
        li Управление вниманием. Чтобы привлечь внимание пользователя к уведомлению или блоку, требующему от пользователя совершения действия.
        li Изменение состояний интерфейса. Порой сложно понять, куда делись какие-то компоненты при изменении сетки страницы и что к чему относится. Если сделать изменение структуры страницы анимированным, пользователь увидит откуда появились или куда передвинулись элементы.
        li Презентации. Есть вещи, которые сложно показать в виде статических картинок.
        li Сторителлинг – анимационные истории.
        li Декоративные анимации.
      h2(id='animated-properties') Анимируемые свойства
      p Анимировать можно только некоторые CSS-свойства. В основном, это свойства, изменяющие размер, цвет и позицию элементов.
      p #[a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties') Полный перечень анимируемых свойств и характер их анимирования]
      h2 CSS transition
      p CSS transition (CSS переходы) позволяют плавно менять исходное значение CSS-свойства на новое вместо мгновенного переключения.
      ul
        li
          details
            summary #[code transition-property] – анимируемое свойство
            p Значения:
            ul
              li одно или несколько css-свойств, перечисленных через запятую
              li #[code all] — (значение по умолчанию) все анимируемые свойства
              li #[code none] — не применять анимацию ни к чему
        li #[code transition-duration] — длительность анимации (s, ms)
        li #[code transition-timing-function] — функция изменения скорости анимации
        li #[code transition-delay] — задержка перед началом анимации (s, ms)
        li #[code transition] — составное свойство (property duration timing-function delay)
      p Чтобы обозначить плавный переход, достаточно задать его длительность.
      p Для разных свойств можно задавать разные параметры перехода. Для этого параметры нужно перечислить через запятую в том же порядке, что и свойства:
      pre
        code.
          transition-property: width, height;
          transition-duration: 1s, 5s; /* Ширина меняется за 1 секунду, высота – за 5. */
      h2 CSS Animation
      p CSS-анимации имеют больше возможностей и помогают сделать то, что не могут CSS-переходы. В том числе создавать анимации с количеством шагов больше двух или запускаться сразу же при загрузке страницы и повторяться любое количество раз без какого-либо действия пользователя.
      h3 Создание анимации
      p Анимация создаётся  с помощью правила #[code @keyframes], в котором нужно задать название и описать в ключевыех кадрах изменяемые CSS-свойства.
      p Требования к названию:
      ul
        li можно использовать только латинские буквы, цифры, знаки дефиса (#[code -]) и нижнего подчёркивания (#[code _])
        li нельзя ставить два дефиса подряд в начале имени
        li первый символ, или первый после дефиса, должен быть буквой
        li нельзя использовать специальные слова вроде #[code inherit], #[code none], #[code initial], #[code unset] и т.п.
      p Ключевые кадры задаются в процентах от времени анимации. Значения #[code 0%] и #[code 100%] могут быть заменены ключевыми словами #[code from] и #[code to].
      p Пример:
      pre
        code.
          @keyframes coloring { /* Эта анимация называется "coloring". */
            0% { color: red; }
            33% { color: yellow; }
            66% { color: green; }
            100% { color: blue; }
          }
      p Если начальный или конечный кадр не задан, то он автоматически создаётся, принимая исходное стилевое состояние элемента.
      p Задавать ключевые кадры можно в любом порядке. Это может быть удобно, чтобы сгруппировать одинаковые кадры. В таком случае их можно перечислить через запятую:
      pre
        code.
          @keyframes example {
            0%, 100% { ... }
            10%, 30%, 50%, 70%, 90% { ... }
            20%, 40%, 60%, 80% { ... }
          }
      h3 Применение анимации
      ul
        li #[code animation-name] — название
        li #[code animation-duration] — длительность (s, ms)
        li #[code animation-timing-function] — функция изменения скорости анимации
        li #[code animation-delay] — задержка перед началом анимации (s, ms)
        li
          details
            summary #[code animation-iteration-count] – количество итераций
            p Значения:
            ul
              li #[code 0] — анимация не выполнится ни разу
              li целые положительные числа (по умолчанию #[code 1])
              li #[code infinite] — анимация будет выполняться бесконечно
        li
          details
            summary #[code animation-direction] – направление
            p Значения:
            ul
              li #[code normal] — (по умолчанию) от начала к концу
              li #[code reverse] — от конца к началу
              li #[code alternate] — нечётные итерации выполняются в прямом направлении, чётные – в обратном
              li #[code alternate-reverse] — нечётные итерации выполняются в обратном направлении, чётные – в прямом
        li
          details
            summary #[code animation-fill-mode] – применение стилей до и после анимации
            p Значения:
            ul
              li #[code none] — (по умолчанию) не применять
              li #[code backwards] — применить стили первого кадра до начала анимации. Это заметно, если анимация имеет задержку
              li #[code forwards] — применить стили последнего кадра по завершении анимации
              li #[code both] — совмещает значения #[code backwards] и #[code forwards]
        li
          details
            summary #[code animation-play-state] – состояние
            p Значения:
            ul
              li #[code running] — выполняется
              li #[code paused] — приостановлена
        li #[code animation] — составное свойство (name duration timing-function delay iteration-count direction fill-mode play-state)
      p Чтобы применить анимацию к элементу, достаточно задать её имя и длительность.
      p Одному элементу можно задать несколько анимаций.
      p Если разными анимациями одновременно должно изменяется одно и то же свойство, то оно будет изменяться в соответствии с анимацией, заданной позже других.
      h2 Функции изменения скорости анимации
      p Свойства #[code transition-timing-function] и #[code animation-timing-function] в качестве значения могут принимать функцию #[code steps], функции кубических кривых Безье, или их «псевдонимы».
      h3 Функции кубических кривых Безье
      pre
        code.
          cubic-bezier(x1, y1, x2, y2)
      p Значения #[code x] и #[code y] – это координаты точек кривых на графике. При этом верными считаются значения #[code x] только в диапазоне от #[code 0] до #[code 1].
      p Например:
      pre
        code.
          cubic-bezier(0, 0, 1, 1) /* linear */
          cubic-bezier(0.42, 0, 1, 1) /* ease */
      p Псевдонимы:
      ul
        li #[code linear] — переход равномерный, без ускорений и замедлений.
        li #[code ease] — начинается медленно, затем ускоряется и к концу движения опять замедляется.
        li #[code ease-in] — начинается медленно, а к концу ускоряется.
        li #[code ease-out] — начинается быстро, а к концу замедляется.
        li #[code ease-in-out] — похоже на #[code ease], то есть переход начинается и заканчивается медленно, но происходит это чуть интенсивнее.
      p #[a(href='https://easings.net/ru') Коллекция разных easing-функций на основе кривых Безье]
      p #[a(href='https://cubic-bezier.com') Сервис помогающий разобраться в функциональном представлении кривых Безье]
      h3 Функция steps
      p При использовании функции #[code steps(число_шагов, start/end)] анимация будет происходить пошагово.
      p Первый аргумент обязателен. Длительность анимации делится на равные отрезки времени в соответствии с количеством шагов. Второй параметр влияет на то, когда в пределах каждого отрезка времени будет происходить изменение CSS-свойств: в начале или в конце. Значение #[code end] — по умолчанию.
      p При значении #[code start] анимация фактически будет завершаться чуть раньше.
      p Псевдонимы:
      ul
        li #[code step-start] — равнозначно #[code steps(1, start)]. Стилевые свойства сразу принимают конечные значения.
        li #[code step-end] — равнозначно #[code steps(1, end)]. Стилевые свойства находятся в начальном значении заданное время, затем сразу принимают конечные значения.
