extends ../../layout/layout

block variables
  - var title = 'Основы БЭМ'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn #[abbr(title='Блок, элемент, модификатор') БЭМ]] – компонентный подход к веб-разработке. В его основе лежит принцип разделения интерфейса на независимые блоки. Он позволяет легко и быстро разрабатывать интерфейсы любой сложности и повторно использовать существующий код, избегая «Copy-Paste».
      h2 Основные понятия
      h3 Блок
      p Функционально независимый компонент страницы, который может быть повторно использован.
      p Особенности:
      ul
        li Название блока характеризует смысл и отвечает на вопрос «Что это?».
        li Имя блока задаёт пространство имён.
        li Блок не должен влиять на своё окружение, т.е. блоку не следует задавать внешнюю геометрию и позиционирование.
        li Блоки можно вкладывать друг в друга.
      h3 Элемент
      p Составная часть блока, которая не может использоваться в отрывае от него.
      p Особенности:
      ul
        li Название элемента характеризует смысл и отвечает на вопрос «Что это?».
        li Элемент всегда часть блока и не должен использовать отдельно от него.
        li Элементы можно вкладывать друг в друга.
        li Элемент — необязательный компонент блока. Не у всех блоков должны быть элементы.
      h3 Модификатор
      p Сущность, определяющая внешний вид, состояние или поведение блока или элемента.
      p Особенности:
      ul
        li Название модификатора характеризует внешний вид, состояние или поведение и отвечает на вопросы «Какой размер?», «Какая тема?», «Чем отличается от других?», «Как себя ведёт?» и т.п.
        li Модификатор не может использоваться в отрыве от модифицируемого блока или элемента.
      h3 Микс
      p Прием, позволяющий использовать разные БЭМ-сущности на одном DOM-узле.
      h2 Свод правил БЭМ
      ul
        li Не использовать селектор по модификатору.
        li Не использовать селектор по тегу.
        li Не использовать универсальный селектор (#[b *]).
        li Не использовать CSS-сброс.
        li Не использовать вложенные селекторы. Исключения: стилизация содержимого, генерируемого пользователем в CMS и изменение стилей элементов модификатором блока.
        li Не использовать комбинацию селекторов.
