extends ../../layout/layout

block variables
  - var title = 'Свойство animation-duration'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b animation-duration] задаёт длительность анимации.
      p Значения:
        ul
          li Одно или несколько значений, перечисленных через запятую, в секундах (#[b s]) или миллисекундах (#[b ms]).
