extends ../../layout/layout

block variables
  - var title = 'Свойство background-repeat.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b background-repeat] задаёт режим повтора фонового изображения.
      p Значения:
      ul
        li #[b repeat] — (по умолчанию) повтор во всех направлениях.
        li #[b repeat-x] — повтор только по горизонтали.
        li #[b repeat-y] — повтор только по вертикали.
        li #[b no-repeat] — не повторять.
        li #[b space] — повторять так, чтобы в области поместилось целое число фоновых изображений. Оставшееся незаполненное место распределяется в равномерные отступы между экземплярами изображения.
        li #[b round] — повторять так, чтобы в области поместилось целое число фоновых изображений, при необходимости их растягивая или сжимая, чтобы заполнить оставшееся пространство.
      p Свойство может принимать в качестве значения два аргумента. В этом случае, первое значение задаст режим повторения по горизонтали, а второе — по вертикали.
      p Примеры:
      pre
        code.
          background-repeat: space no-repeat;
          background-repeat: repeat round;
      p По возможности, вместо одного большого изображения, стоит использовать одно маленькое со значением свойства #[b repeat]. Это может быть применимо, когда изображение состоит из повторяющихся фрагментов. Это обеспечит более быструю загрузку страницы из-за меньшего веса изображения.
      h2 Эффекты с повторяющимся фоном
      p Повторяющийся фон часто используется для создания интересных декоративных эффектов. Например, стежков, зазубренных краёв, градиентов и теней.
      p Да, сейчас уже градиенты и тени можно делать с помощью CSS. Но иногда, когда тень или градиент достаточно сложные, проще использовать полупрозрачный PNG.
      p Самое главное при создании таких эффектов — выбрать картинку с нужным периодом. Она может быть очень маленькой и даст существенную экономию веса страницы.
