extends ../../layout/layout

block variables
  - var title = 'Свойство background-image.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b background-image] задаёт фоновое изображение.
      p Значения:
      ul
        li Адрес изображения внутри #[b url("...")].
      p Пример:
      pre
        code.
          background-image: url("img/sky.jpg");
      p Когда фоновое изображение больше блока, оно обрезается. Управлять тем, какую часть изображения будет видно, можно с помощью свойства #[a(href='background-position.html') background-position]. Иногда для этого удобно использовать относительные значения, а иногда — абсолютные.
