extends ../../layout/layout

block variables
  - var title = 'Свойство background-attachment.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b background-attachment] определяет относительно чего будет фиксироваться фоновое изображение.
      p Значения:
      ul
        li #[b fixed] — фон фиксируется относительно окна браузера. Даже если элемент имеет механизм прокрутки, фон не перемещается вместе с элементом.
        li #[b scroll] — (по умолчанию) фон фиксируется относительно самого элемента и не прокручивается с его содержимым. Он фактически прикреплён к границе элемента.
        li #[b local] — фон фиксируется относительно содержимого элемента. Если элемент имеет механизм прокрутки, фон прокручивается вместе с содержимым.
