extends ../../layout/layout

block variables
  - var title = 'Свойство background-size'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b background-size] задаёт размеры фонового изображения.
      p Принимает в качестве значения два аргумента: первый — это ширина, второй (необязательный) — высота. Если высота не указывается, то определяется автоматически в зависимости от ширины и исходных пропорций.
      p По умолчанию браузер не меняет размеры фонового изображения и оба аргумента равны #[b auto].
      p Примеры:
      pre
        code.
          background-size: auto auto; /* Исходные ширина и высота. */
          background-size: 100px; /* Ширина 100px, высота пропорциональная. */
          background-size: 100px 200px; /* Ширина 100px, высота 200px. */
          background-size: 100%; /* Ширина равна ширине родительского блока, высота пропорциональная. */
          background-size: 100% 100%; /* Ширина и высота равны ширине и высоте родительского блока. */
      p Ключевые слова для значений: #[b contain] и #[b cover].
      p При значении #[b contain]:
      ul
        li Пропорции изображения сохраняются.
        li Изображению задаются максимально возможные размеры, при которых оно по ширине и по высоте полностью помещается в границы блока.
        li Изображение может не закрывать всю фоновую область блока, если пропорции изображения и блока разные.
      p При значении #[b cover]:
      ul
        li Пропорции изображения сохраняются.
        li Изображению задаются минимально возможные размеры, при которых оно покроет всю фоновую область блока.
        li Если пропорции изображения и блока разные, то часть изображения обрезается.
