extends ../../layout/layout

block variables
  - var title = 'Свойство border-image-slice.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p(style='float: right; margin: 0 0 1em 1em;')
        img(src='../../img/border-image-slice.png' width='433' height='385' alt='')
      p Каждая рамка имеет 9 областей: 4 угла, 4 стороны и центральную область. Для заполнения этих областей браузер должен нарезать картинку для рамки на 9 частей. Когда браузер не знает, как это сделать, он просто размещает картинку по углам.
      p Свойство #[b border-image-slice] задаёт отступы от краёв картинки до четырёх линий, которые «разрезают» её на части, как на схеме справа. Если отступы небольшие, то получается «нарезка» из 9 частей, которые затем размещаются в соответствующих областях рамки.
      p Но если отступы слишком большие (больше половины картинки), то браузер не может получить 9 частей и располагает то, что отрезалось по углам.
      p Значение свойства можно задавать числом без единицы измерения (оно обычно обозначает пиксели) или в процентах (относительно размера самой картинки).
      p Примеры:
      pre
        code.
          border-image-slice: 60;
          border-image-slice: 10%;
      p Можно задавать разные отступы линий разреза. Для этого нужно задавать значения через пробел в порядке: верх, право, низ, лево.
      p Пример:
      pre
        code.
          border-image-slice: 10 20 30 40;
      p Средняя часть картинки обычно не используется. Но если в значение свойства добавить ключевое слово #[b fill], то средняя часть картинки будет отображаться в средней области рамки: она закроет собой фон блока, но не закроет содержимое.
      p Пример:
      pre
        code.
          border-image-slice: 10 20 30 40 fill;
