extends ../../layout/layout

block variables
  - var title = 'Свойство border-image-width'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Область, в которой будет отображаться фоновое изображение рамки, по умолчанию равна ширине рамки.
      p Свойство #[b border-image-width] позволяет управлять шириной области рамки-изображения, масштабировать её. Ширину самой рамки это свойство не меняет.
      p Если значение этого свойства больше #[a(href='border-width.html') border-width], фоновое изображение рамки заползёт под содержимое, даже если не задано свойство #[b fill].
      p Свойство принимает от одного до четырёх аргументов в любых единицах длины, разделённых между собой пробелом:
      ul
        li 1 — одинаковая ширина всех сторон.
        li 2 — первое значение устанавливает ширину сверху и снизу, второе — слева и справа.
        li 3 — первое значение устанавливает ширину сверху, второе — слева и справа, а третье — снизу.
        li 4 — поочередно устанавливаются ширина сверху, справа, снизу и слева.
      p Примеры:
      pre
        code.
          border-image-width: 10px 20px 30px 40px;
          border-image-width: 10px 50px;
      p Значение по умолчанию — #[b auto], при котором ширина зависит от значения #[a(href='border-image-slice.html') border-image-slice].
