extends ../../layout/layout

block variables
  - var title = 'Свойство border-image-repeat'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p(style='float: right; margin: 0 0 1em 1em;')
        img(src='../../img/border-image-repeat.png' width='225' height='225' alt='')
      p Свойство #[b border-image-repeat] задаёт способ заполнения фоном боковых сторон рамки (зелёные области на рисунке).
      p Значения:
      ul
        li #[b stretch] — (по умолчанию) фоновые картинки растягиваются на всю длину боковых сторон.
        li #[b repeat] — фоновые картинки повторяются, чтобы полностью заполнить боковую сторону. При этом последние картинки обрезаются, если не влезают полностью.
        li #[b round] — боковые стороны полностью заполняются целым числом фоновых картинок. При этом они могут сжиматься или растягиваться.
        li #[b space] — боковые стороны заполняются целым числом фоновых картинок. Если осталось пустое место, то между картинками появляются равномерные отступы.
      p Можно устанавливать режим заполнения отдельно для горизонтальных и вертикальных сторон рамки:
      pre
        code.
          /* Все стороны рамки заполняются в режиме stretch. */
          border-image-repeat: stretch;

          /* Горизонтальные стороны рамки – repeat, вертикальные – round. */
          border-image-repeat: repeat round;
