extends ../../layout/layout

block variables
  - var title = 'Свойство column-width'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b column-width] задаёт минимальную ширину колонок.
      p Значения:
      ul
        li #[b auto] — (по умолчанию) минимальной ширины нет.
        li Значения в любых единицах длины, кроме #[b %].
      p Если свойство #[b column-count] ещё не было задано, браузер автоматически поделит текст на такое количество колонок, чтобы они уместились во всю доступную ширину. Если же задано, то #[em максимальное] число колонок будет зависеть от минимальной ширины колонки.
      p Пример:
      pre
        code.
          column-width: 100px; /* Минимальная ширина колонки: 100px. */
      p Фактическая ширина может быть больше (для заполнения доступного пространства) или меньше (если доступное пространство меньше указанной ширины столбца).
      p Следует отметить, что если одиночная строка может включать от 45 до 75 символов, чтобы быть читабельной, то для колонок текста рекомендуется придерживаться ширины, включающей 40-50 символов.
