extends ../../layout/layout

block variables
  - var title = 'Свойство cursor'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b cursor] задаёт тип курсора.
      p Значения:
      ul
        li #[b auto] — (по умолчанию) браузер самостоятельно определяет значение курсора в зависимости от свойств элемента, на который наведена мышь.
        li #[b default] — основной курсор платформы, обычная стрелочка.
        li #[b pointer] — указатель, обозначающий ссылку. Обычно указующая рука.
        li #[b none] — курсор не отображается.
      p Значение #[b pointer] можно использовать при декорировании кнопок, чтобы пользователю было очевидно, что перед ним именно активный элемент, на который можно нажать.
