extends ../../layout/layout

block variables
  - var title = 'Свойства direction и unicode-bidi.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p За направление текста отвечает свойство #[b direction], принимающее значения #[b ltr] (направление слева направо) и #[b rtl] (направление справа налево).
      p По умолчанию свойство #[b direction] меняет только выравнивание и положение полосы прокрутки, так как браузер, анализируя используемые символы Unicode, автоматически задаёт тексту корректное направление.
      p За автовыбор направления текста отвечает свойство #[b unicode-bidi], принимающее значения:
      ul
        li #[b normal] — (по умолчанию) браузер самостоятельно определяет, как ему следует отображать текст на основе используемых символов Unicode.
        li #[b embed] — переопределяет направление текста, располагая его согласно свойству #[b direction] (применяется, когда в блоке текст на двух разнонаправленных языках).
        li #[b bidi-override] — переопределяет порядок символов в тексте согласно значению #[b direction].
      p Также свойство #[b direction] влияет на порядок колонок в таблице, меняя его на соответствующее значение.
