extends ../../layout/layout

block variables
  - var title = 'Свойство font-family'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b font-family] задаёт семейство шрифта.
      p Значения:
      ul
        li Названия шрифтов, перечисленные через запятую.
      p В начале располагают самый желаемый шрифт, затем менее желаемый, а в самом конце — общий тип шрифта. Браузер проходит по списку слева направо и использует первый найденный в системе или на сайте шрифт.
      p Пример:
      pre
        code.
          font-family: "PT Sans", "Arial", sans-serif;
      p #[strong Если название шрифта состоит из нескольких слов, то его нужно заключать в кавычки.]
      p Если браузер не находит на сайте или в операционной системе ни одно из перечисленных названий шрифтов, то он применяет последнее значение — общий системный тип шрифта.
      p Типы шрифтов:
      ul
        li #[b serif] — шрифт с засечками.
        li #[b sans-serif] — шрифт без засечек.
        li #[b monospace] — моноширинный шрифт.
        li #[b cursive] — шрифт с неформальный начертанием, например, имитация рукописного текста или леттеринга.
        li #[b fantasy] — декоративный шрифт, например, всемирно известный Comic Sans.
