extends ../../layout/layout

block variables
  - var title = 'Свойство margin.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b margin] задаёт размер внешних отступов.
      p Свойство принимает от одного до четырёх аргументов в любых единицах длины, разделённых между собой пробелом:
      ul
        li 1 — одинаковые отступы со всех сторон.
        li 2 — первое значение устанавливает отступ сверху и снизу, второе — слева и справа.
        li 3 — первое значение устанавливает отступ сверху, второе — слева и справа, а третье — снизу.
        li 4 — поочередно устанавливаются отступы сверху, справа, снизу и слева.
      p Пример:
      pre
        code.
          margin: 12px;
      p Внешние отступы для отдельных сторон задаются свойствами #[b margin-top], #[b margin-right], #[b margin-bottom] и #[b margin-left].
      p Допустимы отрицательные значения.
