extends ../../layout/layout

block variables
  - var title = 'Свойство max-width'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b max-width] задаёт максимальную ширину элемента.
      p Значения:
      ul
        li Значение в относительных или абсолютных единицах измерения.
        li #[b none] — (по умолчанию) без ограничения.
