extends ../../layout/layout

block variables
  - var title = 'Свойство outline-width'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b outline-width] задаёт ширину внешней рамки.
      p Значения:
      ul
        li Значение в любых единицах длины, кроме #[b %].
