extends ../../layout/layout

block variables
  - var title = 'Свойство outline-color.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b outline-color] задаёт цвет внешней рамки.
      p Значения:
      ul
        li Цвет в любом CSS-формате.
