extends ../../layout/layout

block variables
  - var title = 'Свойство padding.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b padding] задаёт размер внутренних отступов.
      p Свойство принимает от одного до четырёх аргументов в любых единицах длины, разделённых между собой пробелом:
      ul
        li 1 — одинаковые отступы со всех сторон.
        li 2 — первое значение устанавливает отступ сверху и снизу, второе — слева и справа.
        li 3 — первое значение устанавливает отступ сверху, второе — слева и справа, а третье — снизу.
        li 4 — поочередно устанавливаются отступы сверху, справа, снизу и слева.
      p Пример:
      pre
        code.
          padding: 8px;
      p Внутренние отступы для отдельных сторон задаются свойствами #[b padding-top], #[b padding-right], #[b padding-bottom] и #[b padding-left].
      p Значения в #[b %] рассчитываются от ширины элемента.
