extends ../../layout/layout

block variables
  - var title = 'Свойство text-shadow.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b text-shadow] задаёт тень тексту.
      p Особенности:
      ul
        li Применяется к тексту.
        li Форма тени повторяет форму текстовых символов.
        li Можно задать смещение, размытие и цвет тени.
        li Нельзя задать растяжение.
        li Можно создавать множественные тени.
      p Значения:
      ul
        li Перечисленные через пробел параметры для одной или нескольких теней, перечисленных через запятую.
        li #[b none] — (по умолчанию) отсутствие тени.
      p Пример:
      pre
        code.
          text-shadow: 0 0 5px #333333;
      ul
        li Первый параметр задаёт смещение тени по горизонтали. Положительное значение сдвигает тень вправо, отрицательное — влево.
        li Второй параметр задаёт смещение тени по вертикали. Положительное значение сдвигает тень вниз, отрицательное — вверх.
        li Третий параметр задаёт радиус размытия тени. Чем больше значение параметра, тем сильнее тень размывается и становится светлее. Значение по умолачнию — #[b 0].
        li Последний параметр задаёт цвет тени. По умолчанию цвет тени такой же, как цвет текста.
      P Обязательны только параметры смещения.
      p У текста может быть несколько теней. При этом тени распределятся по правилу: первая тень в списке — самая верхняя, последняя — самая нижняя.
      p Пример:
      pre
        code.
          text-shadow: 1px 1px 1px #111111, 2px 2px 2px #222222;
      p С помощью множественных теней можно добиваться интересных эффектов.
      h2 Эффект вдавленного текста.
      p Тексту можно добавить эффект «вдавленности» с помощью двух однотонных теней: более тёмная смещается немного вверх и влево, а более светлая – вниз и вправо.
      pre
        code.
          p {
            padding: 20px;
            font: 400 60px/1 "Arial", sans-serif;
            text-transform: uppercase;
            color: #2b2328;
            text-shadow: -1px -1px 1px #1e181c, 2px 2px 1px #52424d;
            background: #42353e;
          }
      figure(style='background: #42353e;')
        p(style='padding: 20px; font: 400 60px/1 "Arial", sans-serif; text-transform: uppercase; color: #2b2328; text-shadow: -1px -1px 1px #1e181c, 2px 2px 1px #52424d; background: #42353e;') Вдавленное
      h2 Декоративная ретро-тень.
      p Эффект обводки создаётся из двух резких теней, смещённых в одну сторону. Нижняя тень смещена чуть сильнее и её цвет отличается от цвета фона, а верхняя тень смещена слабее и цвет её совпадает с цветом фона.
      p Такой эффект хорошо подходит для заголовков с винтажным стилем.
      pre
        code.
          p {
            padding: 20px;
            font: 400 60px/1 "Arial", sans-serif;
            text-transform: uppercase;
            color: #444444;
            background: #e5d4c0;
            text-shadow: 2px 2px #e5d4c0, 4px 4px rgba(0, 0, 0, 0.2);
          }
      figure(style='background: #e5d4c0;')
        p(style='padding: 20px; font: 400 60px/1 "Arial", sans-serif; text-transform: uppercase; color: #444444; text-shadow: 2px 2px #e5d4c0, 4px 4px rgba(0, 0, 0, 0.2); background: #e5d4c0;') Винтажное

