extends ../../layout/layout

block variables
  - var title = 'Свойство text-align.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b text-align] задаёт выравнивание текста и других инлайновых элементов по горизонтали.
      p Значения:
      ul
        li #[b left] — (по умолчанию) выравнивание по левому краю блока.
        li #[b right] — выравнивание по правому краю блока.
        li #[b center] — выравнивание по центру.
        li #[b justify] — выравнивание по ширине блока, при этом слова в строке будут размещены так, чтобы равномерно занять всё пространство строки.
        li #[b start] — выравнивание к началу блока.
        li #[b end] — выравнивание к концу блока.
