extends ../../layout/layout

block variables
  - var title = 'Свойство transition-delay.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b transition-delay] задаёт длительность задержки перед началом перехода.
      p Значения:
        ul
          li Одно или несколько значений, перечисленных через запятую, в секундах (#[b s]) или миллисекундах (#[b ms]).
