extends ../../layout/layout

block variables
  - var title = 'Свойство vertical-align'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b vertical-align] задаёт вертикальное выравнивание инлайновых элементов относительно строки.
      p Значения:
      ul
        li Ключевое слово
        li Положительное или отрицательное значение в #[b px] или #[b %].
      P Ключевые слова:
      ul
        li #[b baseline] — (по умолчанию) выравнивание по базовой линии строки.
        li #[b top] — выравнивание по верхнему краю строки.
        li #[b middle] — выравнивание по середине строки.
        li #[b bottom] — выравнивание по нижнему краю строки.
        li #[b sub] — опускает базовую линию блока вниз для создания нижнего индекса.
        li #[b super] — поднимает базовую линию блока вверх для создания верхнего индекса.
        li #[b text-bottom] — нижняя граница элемента выравнивается по нижнему краю содержимого родителя.
        li #[b text-top] — верхняя граница элемента выравнивается по верхему краю содержимого родителя.
      p Значения в #[b %] рассчитываются от высоты строки элемента (#[a(href='line-height.html') line-height]).
      p Значение #[b 0] эквивалентно #[b baseline].
      p В отличие от #[b text-align] свойство #[b vertical-align] задаётся самому элементу, а не содержащему его контейнеру.
      h2 Отступ под картинкой.
      p При вставке изображения под картинкой остаётся небольшой отступ, который часто нужно убрать.
      P Откуда берётся этот отступ? Тег #[b &lt;img&gt;] обладая строчным боксом, по умолчанию также выравнивается по базовой линии, и этот отступ является пространством под выносной элемент букв (например, под хвостики букв «р» или «у»).
      p Избавиться от этого отступа можно сменив тип бокса или способ вертикального выравнивания.
