extends ../../layout/layout

block variables
  - var title = 'Свойство white-space.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b white-space] управляет пробелами и переносами строк.
      p Значения:
      ul
        li #[b nowrap] — множественные пробелы схлопываются, автопереносы на новые строки отключены.
        li #[b normal] — (по умолчанию) множественные пробелы схлопываются, текст переносится по необходимости.
        li #[b pre-line] — множественные пробелы схлопываются. Текст переносится по необходимости и в конце строк.
        li #[b pre-wrap] — множественные пробелы не схлопываются. Текст переносится по необходимости и в конце строк.
        li #[b  pre] — сохраняет пробелы и переносы как в исходном коде, аналогично тегу #[b &lt;pre&gt;&lt;/pre&gt;].
