extends ../../layout/layout

block variables
  - var title = 'Свойство word-spacing'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b word-spacing] увеличивает расстояние между отдельными словами, строчными и блочно-строчными элементами на заданную величину.
      p Значения:
      ul
        li Значение в относительных или абсолютных единицах измерения.
        li #[b normal] — (по умолчанию) соотвествует #[b 0].
      p Допустимы отрицательные значения.
      p Если для текста задано выравнивание свойством #[b text-align] со значением #[b justify] (выравнивание по ширине), то интервал между словами будет установлен принудительно, но не меньше значения, указанного в #[b word-spacing].
