extends ../../layout/layout

block variables
  - var title = 'Тег a.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Обычно ссылка выглядит как подчёркнутый участок текста, щёлкая на который, вы переходите на другую страницу, открываете изображение, начинаете скачивать файл или перемещаетесь к какому-то месту на текущей странице. Если представить, что интернет – это огромная сеть из множества узлов, то ссылки будут нитками, соединяющими все узлы этой сети.
      p Ссылки создаются с помощью тега #[b &lt;a&gt;&lt;/a&gt;] (сокращение от «anchor»).
      pre
        code.
          &lt;a href="https://htmlacademy.ru"&gt;HTML Academy&lt;/a&gt;
      p Адрес ссылки задаётся в формате URL с помощью атрибута #[b href] (сокращение от «hyper reference»).
      h2 Изображение-ссылка.
      p Ссылки можно делать не только с помощью текста, но и с помощью изображений. Для этого нужно обернуть тег #[b &lt;img&gt;&lt;/img&gt;] в тег #[b &lt;a&gt;&lt;/a&gt;]. Например:
      pre
        code.
          &lt;a href="https://keksby.ru"&gt;
            &lt;img src="cat.png" alt="Кекс"&gt;
          &lt;/a&gt;
      p Часто ссылки-изображения используются в галереях, когда с уменьшенной версии изображения ставится ссылка на полноразмерную версию картинки или на отдельную страницу с этим изображением и подписью к нему.
      h2 Относительные адреса.
      p В относительном адресе, в отличие от «обычного», нет адреса сайта. Чтобы перейти по относительному адресу, браузер должен его «расшифровать». Для этого он обычно использует положение текущей страницы. Например, в папке #[b c:/blog] есть два файла:
      pre
        code.
          c:/blog/
               | -index.html (в браузере открыта эта страница)
               | -inner.html
      p В браузере открыта страница #[b c:/blog/index.html], и в ней есть ссылка с относительным адресом #[b inner.html]. Чтобы перейти по этой ссылке, браузер смотрит на расположение открытой страницы и заменяет в нём последнюю часть:
      pre(style="position: relative;")
        span(style="position: absolute; top: 29px; left: 95px; z-index: 1; width: 88px; height: 1px; background-color: red;")
        code.
          c: /blog/index.html + inner.html (заменяет последнюю часть)
          c: /blog/inner.html              (открывает файл)
      p Специальный символ #[b ..] в относительном адресе означает переход из папки на уровень выше.
      p Символ #[b /] используется, чтобы указать путь от корня (главной папки) проекта.
      p Относительные адреса работают не только для файлов на компьютере, но и для страниц в сети. Если выложить два файла из примера в интернет (не меняя их взаимное расположение), то ссылка всё равно будет работать. Относительный адрес #[b inner.html] на странице #[b https://site.ru/blog/index.html] расшифруется так:
      pre(style="position: relative;")
        span(style="position: absolute; top: 29px; left: 200px; z-index: 1; width: 88px; height: 1px; background-color: red;")
        code.
          https://site.ru/blog/index.html + inner.html (заменяет последнюю часть)
          https://site.ru/blog/inner.html              (открывает этот адрес)
      p Относительные адреса отлично подходят, если вы делаете сайт на своём компьютере или создаёте навигацию по страницам #[em своего же] сайта.
      h2 Абсолютные адреса.
      p Если нужно сделать ссылку на другой сайт в интернете, то необходимо использовать «обычный» адрес.
      p Этот «обычный» или полный адрес называется #[i абсолютным]. Выглядит он, например, так: #[b https://site.ru/blog/index.html].
      p Абсолютные адреса содержат минимум три части:
      pre
        code.
          https:           — протокол.
          //site.ru        — имя сервера (также называется домен или хост)
          /blog/index.html — путь
      p Если в адресе нет имени сервера или протокола, то это относительный адрес.
      h2 Атрибут rel.
      p С помощью атрибута #[b rel] можно обозначить отношение сайта к ресурсам, на которые ведут ссылки.
      p Значения:
      ul
        li #[b sponsored] — ссылки, связанные с рекламными материалами или платными местами размещения (платными ссылками).
        li #[b ugc] — ссылки, опубликованные пользователями, например, в комментарии или записи на форуме.
        li #[b nofollow] — ссылки на материалы, с которыми поисковые роботы не должны ассоциировать ваш сайт.
        li #[b noopener] — не представлять открываемой странице доступ к документу (через #[b window.opener]).
      p Допустимо использовать несколько значений разделив их пробелами или запятыми.
      h2 Открытие ссылок.
      p Ссылки могут открываться в текущей или в новой вкладках браузера. За это поведение отвечает атрибут #[b target].
      p Значения:
      ul
        li #[b _self] — (значение по умолчанию) ссылки открываются в той же вкладке
        li #[b _blank] — ссылки открываются в новой вкладке
      p Пример:
      pre
        code.
          &lt;a href="https://ru.wikipedia.org" target="_blank"&gt;wikipedia&lt;/a&gt;
      p Если ссылки внешние, то пусть открываются в новых вкладках, чтобы с вашего сайта не уходили.
      h2 Ссылки с пустым href.
      p Тег #[b &lt;a&gt;&lt;/a&gt;] можно использовать вообще без адреса, то есть без атрибута #[b href]. Такой тег обозначает «ссылку-заглушку», которая в других условиях может стать обычной ссылкой (например, когда мы с последней фотки перейдём в середину галереи). Часто ссылки-заглушки используют, чтобы показать, что мы находимся на текущей странице:
      pre
        code.
          &lt;nav&gt;
            &lt;ul&gt;
              &lt;li&gt;&lt;a&gt;Страница 1&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="2"&gt;Страница 2&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="1"&gt;Страница 3&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/nav&gt;
      p Когда мы удаляем атрибут #[b href] у ссылки, то лучше оставить подсказку о том, почему мы это сделали. Также подсказки помогают разъяснить назначение непонятных ссылок и ссылок-изображений. Подсказку можно добавить с помощью атрибута #[a(href='../html-attributes/title.html') title].
      pre
        code.
          &lt;a title="Ну какое назад? Вы на первой фотке!"&gt;Назад&lt;/a&gt;
      h2 Ссылка на файл.
      p Когда мы переходим по ссылкам, то попадаем на другие страницы или места на странице. Но при переходе по ссылке на файл браузер предложит его скачать.
      p Однако, если браузер умеет обрабатывать файлы этого типа, то содержимое файла откроется прямо в браузере. Чаще всего так происходит с изображениями. Но в последнее время браузеры научились открывать PDF-файлы и многие другие.
      p Для того, чтобы предотвратить открытие файлов прямо в браузере, у тега #[b &lt;a&gt;&lt;/a&gt;] существует атрибут #[b download], который поможет именно скачать файл.
      pre
        code.
          &lt;a href="file.pdf" download&gt;Браузер скачает меня, а не будет читать&lt;/a&gt;
      p При скачивании или загрузке файлов со сторонних сайтов для безопасности можно использовать атрибут #[b rel="noopener"]. Этот атрибут позволяет игнорировать скрипты сторонней страницы, которые могут влиять на загрузку файла. Особенно актуален этот атрибут в случае, если загрузка происходит в новой вкладке или новом окне.
      h2 Ссылка-якорь.
      p Ссылка-якорь — это обычная ссылка, в адресе которой используется символ #[b #], после которого следует идентификатор элемента. Идентификатор создаётся с помощью атрибута #[b id] у того тега, к которому надо перейти при щелчке по ссылке. Причём сам тег может быть любым: #[b &lt;h1&gt;&lt;/h1&gt;], #[b &lt;section&gt;&lt;/section&gt;], #[b &lt;p&gt;&lt;/p&gt;] и так далее.
      p #[strong Идентификатор должен быть уникальным.]
      p #[strong Имя идентификатора может состоять из латинских символов, цифр и знаков #[b -] и #[b _] и должно начинаться с латинской буквы.]
      p Вот так выглядит адрес, состоящий из одного якоря:
      pre
        code.
          &lt;a href="#part1"&gt;Глава 1&lt;/a&gt;
      p При переходе по такой ссылке браузер найдёт на странице элемент с соответствующим атрибутом #[b id] и прокрутит окно страницы к нему.
      pre
        code.
          &lt;section id="part1"&gt;Содержание первой главы&lt;/section&gt;
      p При этом перезагрузки страницы не произойдёт.
      p Якорь также можно использовать и в абсолютных адресах, тогда после перехода на нужную страницу по аналогии произойдёт прокрутка к заданной части этой страницы:
      pre
        code.
          &lt;a href="https://www.w3.org/TR/css3-values/#relative-lengths"&gt;5.1. Relative Lengths&lt;/a&gt;
      h2 Ссылка tel.
      p Ссылка на номер телефона размечается с помощью специального префикса перед номером телефона — #[b tel:].
      p Пример:
      pre
        code.
          &lt;a href="tel:+79001111111"&gt;+7-900-111-11-11&lt;/a&gt;
      p Хорошим тоном считается указание в #[b href] кода страны. При этом в тексте ссылки номер может быть указан в любом удобном формате.
      p При клике на такую ссылку откроется приложение для звонков, в котором будет набран указанный в адресе ссылки номер.
      h2 Ссылка mailto.
      p Ссылка может открыть почтовую программу и создать новое письмо, в котором сразу будет заполнен адрес отправки. Для этого в адресе ссылки ставится префикс #[b mailto:], после которого указывается адрес почты.
      p Пример:
      pre
        code.
          &lt;a href="mailto:mail@htmlacademy.ru"&gt;Напишите нам&lt;/a&gt;
      p Используя параметры #[b cc] и #[b bcc] можно указать 2 и 3 адреса отправки:
      pre
        code.
          &lt;a href="mailto:mail@htmlacademy.ru&cc=blog@htmlacademy.ru"&gt;Напишите нам&lt;/a&gt;
      p Тему письма можно указать в параметре #[b subject], а текст письма – в параметре #[b body]:
      pre
        code.
          &lt;a href="mailto:mail@htmlacademy.ru&subject=привет?body=вопрос"&gt;Напишите нам&lt;/a&gt;
      p Параметры указываются после знака #[b &] и перечисляются через #[b ?].
