extends ../../layout/layout

block variables
  - var title = 'Тег br.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;br&gt;] (сокращение от «line break») добавляет перенос строки в тексте для повышения его читабельности, например, в почтовых адресах, стихах, текстах песен, режиме работы.
      p Иногда этот тег применяют неправильно, для разбиения текста на «как бы абзацы». Никогда так не делайте. Для разметки абзацев нужно использовать тег  #[b &lt;p&gt;&lt;/p&gt;].
