extends ../../layout/layout

block variables
  - var title = 'Тег cite'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;cite&gt;&lt;/cite&gt;] предназначен для названия произведения (например, книги, документа, эссе, стихотворения, песни, сценария, фильма, телешоу, игры, скульптуры, живописи, театральной постановки, оперы, выставки, компьютерной программы и т.д.), которое цитируется или просто упоминается в предложении. Содержимое #[b &lt;cite&gt;&lt;/cite&gt;] в браузере выделяется курсивом.
      p Имя человека не является названием работы, поэтому не должно размечаться тегом #[b &lt;cite&gt;&lt;/cite&gt;].
      p Пример:
      pre
        code.
          Мне очень понравилась книга &lt;cite&gt;Солнце полуночи&lt;/cite&gt; от Стефани Майер.
      figure
        | Мне очень понравилась книга #[cite Солнце полуночи] от Стефани Майер.
