extends ../../layout/layout

block variables
  - var title = 'Теги del и ins.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Для описания изменений предназначены теги #[b &lt;del&gt;&lt;/del&gt;] (сокращение от «delete») и #[b &lt;ins&gt;&lt;/ins&gt;] (сокращение от «insert»).
      p Тег #[b &lt;del&gt;&lt;/del&gt;] выделяет текст, который был удалён в новой версии документа. В браузере этот текст перечёркивается.
      p Тег #[b &lt;ins&gt;&lt;/ins&gt;] выделяет текст, который был добавлен в новой версии документа. В браузере этот текст подчёркивается.
      p В атрибуте #[b cite] можно разместить ссылку на источник или описание произошедшего изменения.
      p Оба тега имеют атрибут #[a(href='../html-attributes/datetime.html') datetime], в котором можно указать дату и время, когда была внесена та или иная правка.
      p Простейшим примером применения этих тегов может служить список дел. Когда дело выполнено, его помечают тегом #[b &lt;del&gt;&lt;/del&gt;], а если появилось новое дело, то его добавляют в список и помечают тегом #[b &lt;ins&gt;&lt;/ins&gt;].
      pre
        code.
          &lt;ul&gt;
            &lt;li&gt;&lt;del datetime="2022-02-19T13:23"&gt;Купить часы&lt;/del&gt;&lt;/li&gt;
            &lt;li&gt;&lt;ins datetime="2022-02-19T16:54"&gt;Настроить часы&lt;/ins&gt;&lt;/li&gt;
            &lt;li&gt;Положить часы в красивую подарочную коробку&lt;/li&gt;
          &lt;/ul&gt;
