extends ../../layout/layout

block variables
  - var title = 'Теги div и span'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p В HTML есть два специальных тега, у которых «смысла» нет. Это теги #[b &lt;div&gt;&lt;/div&gt;] (сокращение от «division») и #[b &lt;span&gt;&lt;/span&gt;]. Это «чистые» элементы, которые отлично подходят для визуальной группировки других элементов. Использовать эти теги рекомендуется, если более подходящих семантических тегов не нашлось.
      p Теги #[b &lt;div&gt;&lt;/div&gt;] и #[b &lt;span&gt;&lt;/span&gt;] не имеют никакого оформления по умолчанию и их почти всегда используют вместе с атрибутом class, чтобы легко добавлять им собственные стили.
      p Тег #[b &lt;div&gt;&lt;/div&gt;] обычно используется для разметки мелких блоков, создания сеток и декоративных эффектов. А #[b &lt;span&gt;&lt;/span&gt;] используется для выделения мелких текстовых элементов: частей слов, отдельных слов или фраз, состоящих из нескольких слов:
      pre
        code.
          &lt;article&gt;
            &lt;div class="highlight"&gt;
              &lt;p&gt;Мы два красивых выделенных абзаца.&lt;/p&gt;
              &lt;p&gt;С жёлтеньким фоном!&lt;/p&gt;
            &lt;/div&gt;
            &lt;p&gt;Текст, в котором &lt;span&gt;выделена фраза&lt;/span&gt;.&lt;/p&gt;
          &lt;/article&gt;
