extends ../../layout/layout

block variables
  - var title = 'Тег em'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;em&gt;&lt;/em&gt;] определяет текст, на который сделан #[em особый акцент], уточняющий смысл предложения.
      p Например, если кто-то сказал, что автор не любит лето и он возражает в ответ:
      pre
        code.
          Я &lt;em&gt;люблю&lt;/em&gt; лето!
      p Или кто-то утверждает, что автор любит не лето, а зиму и он возражает:
      pre
        code.
          Я люблю &lt;em&gt;лето&lt;/em&gt;!
      p По умолчанию тег #[b &lt;em&gt;&lt;/em&gt;] выделяется курсивом.
