extends ../../layout/layout

block variables
  - var title = 'Теги figure и figcaption.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;figure&gt;&lt;/figure&gt;] обозначает цельный и независимый блок содержания. Внутри него размещают любой иллюстративный или демонстрационный материал, которым можно дополнить содержание документа. Таким материалом могут быть изображения, схемы, графики, примеры кода, таблицы и так далее. При удалении демонстративного материала основное содержимое не должно пострадать, иначе это уже не дополнительный материал и тег #[b &lt;figure&gt;&lt;/figure&gt;] не очень подходит для его разметки.
      p Обычно каждый такой материал сопровождает разъясняющий комментарий, или «легенда». Для разметки этого комментария предназначен тег #[b &lt;figcaption&gt;&lt;/figcaption&gt;], который размещается первым или последним элементом внутри #[b &lt;figure&gt;&lt;/figure&gt;].
      pre
        code.
          &lt;figure&gt;
            Схема, график, диаграмма или код
            &lt;figcaption&gt;Подпись к содержимому&lt;/figcaption&gt;
          &lt;/figure&gt;
      p Внутри #[b &lt;figure&gt;&lt;/figure&gt;] может быть несколько связанных между собой объектов, например, несколько изображений, или график и таблица, иллюстрирующие одно и то же.
      p По умолчанию у тега #[b &lt;figure&gt;&lt;/figure&gt;] есть отступы.
