extends ../../layout/layout

block variables
  - var title = 'Теги h1-h6.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Для создания основной структуры текста используют заголовки. В HTML существует целое семейство заголовочных тегов: от #[b &lt;h1&gt;&lt;/h1&gt;] до #[b &lt;h6&gt;&lt;/h6&gt;]. Буква «h» в названии тега – это первая буква английского «heading». Тег #[b &lt;h1&gt;&lt;/h1&gt;] обозначает самый важный заголовок (заголовок верхнего уровня), а тег #[b &lt;h6&gt;&lt;/h6&gt;] обозначает подзаголовок самого нижнего уровня.
      p На практике в текстах редко встречаются подзаголовки ниже третьего уровня.
      p При озаглавливании разделов учитывается общая иерархия текстового содержимого страницы: сначала определяется, о чём эта страница целиком, какие разделы документа более крупные, какие – дополнительные. В итоге заголовки должны из себя представлять явное дерево: от главного #[b &lt;h1&gt;&lt;/h1&gt;] на странице до структурно следующих за ним #[b &lt;h2&gt;&lt;/h2&gt;], #[b &lt;h3&gt;&lt;/h3&gt;] и так далее.
      pre
        code.
          &lt;h1&gt;Спецификация HTML&lt;/h1&gt;
          &lt;h2&gt;Раздел 1 Введение&lt;/h2&gt;
          &lt;h3&gt;Раздел 1.1 Происхождение языка&lt;/h3&gt;
      p #[a(href='https://yoksel.github.io/html-tree' target='_blank' rel='nofollow noopener') Инструмент позволяющий проверить уровни заголовков].
      p Основная роль заголовков – резюмирующая, они очень сжато передают содержание последующего текста. В #[b &lt;h1&gt;&lt;/h1&gt;] нужно включать текст, который в целом описывает содержание страницы. Желательно, чтобы длина заголовка была не больше 60 знаков. Очень важно, чтобы заголовок первого уровня на странице был только один. На главных страницах его часто добавляют в шапку сайта, а на внутренних страницах – в основной контент, то есть внутрь тега #[b &lt;main&gt;&lt;/main&gt;].
      p Поисковые системы придают особое значение заголовкам, также правильно расставленные заголовки важны для доступности документа.
      p Как правило, в разделы #[b &lt;section&gt;&lt;/section&gt;] и #[b &lt;article&gt;&lt;/article&gt;] включают заголовки, резюмирующие содержимое разделов.
      p Если в дизайне страницы у раздела не предусмотрен заголовок, его всё равно следует добавлять в разметку. При этом с помощью стилей заголовки можно «визуально спрятать», но оставить доступным их содержимое.
      p В пятой версии HTML разрешили использовать собственную, независимую от остального документа, иерархию заголовков в тегах для создания смысловых разделов. Теперь на странице можно использовать несколько #[b &lt;section&gt;&lt;/section&gt;] или #[b &lt;article&gt;&lt;/article&gt;] со своими #[b &lt;h1&gt;&lt;/h1&gt;], #[b &lt;h2&gt;&lt;/h2&gt;] и #[b &lt;h3&gt;&lt;/h3&gt;].
      p На практике выяснилось, что этот механизм скорее мешает, чем помогает, а браузеры и средства доступности не спешат его реализовывать. Так что все начали возвращаться к старой доброй сквозной иерархии заголовков во всём документе.
