extends ../../layout/layout

block variables
  - var title = 'Тег i'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;i&gt;&lt;/i&gt;] применяется для обозначения текста, который отличается от окружающего его текста по качеству. Например, в #[b &lt;i&gt;&lt;/i&gt;] можно заключать #[i технические термины], #[i иностранные слова], #[i транслитерации]. Также в этот тег можно обернуть #[i мысли] героя. В речи такой текст обычно выделяется интонационно.
      p Пример:
      pre
        code.
          Он взглянул в окно и подумал — &lt;i&gt;такого просто не может быть&lt;/i&gt;!
      p Слова на языках, отличающихся от основного текста, должны иметь атрибут #[b lang].
      p По умолчанию тег #[b &lt;i&gt;&lt;/i&gt;] выделяется курсивом.
