extends ../../layout/layout

block variables
  - var title = 'Тег mark'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;mark&gt;&lt;/mark&gt;] предназначен для того, чтобы выделить то, что важно не вообще, а контекстуально. Например, мы хотим в уже существующей цитате подчеркнуть какой-то кусок, который в оригинале не был выделен, но мы-то хотим обратить внимание читателей именно на него.
      p По умолчанию этот элемент имеет жёлтый фоновый цвет.
