extends ../../layout/layout

block variables
  - var title = 'Тег meter'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;meter&gt;&lt;/meter&gt;] предназначен для визуализации тех шкал, которые не относятся к прогрессу. Например, использованное дисковое пространство, доля голосов населения за определённого кандидата и т.д.
      p Атрибуты:
      ul
        li #[b value] — текущее значение.
        li #[b min] — нижняя граница диапазона.
        li #[b max] — верхняя граница диапазона.
        li #[b low] — значения ниже считаются низкими.
        li #[b high] — значения выше считаются высокими.
        li #[b optimum] — оптимальное значение.
      p По умолчанию низкие и высокие значения делают полоску жёлтой, при остальных значениях она отображается зелёной.
      p По умолчанию минимальное значение равно #[b 0], а максимальное #[b 1].
      p Пример:
      pre
        code.
          Использование диска: &lt;meter min="0" value="164" max="500"&gt;Использовано 164Гб из доступных 500Гб&lt;/meter&gt;
      figure
        | Использование диска: #[meter(min="0" value="164" max="500") Использовано 164Гб из доступных 500Гб]
