extends ../../layout/layout

block variables
  - var title = 'Тег nav.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Для создания логического раздела с основной навигацией предназначен тег #[b &lt;nav&gt;&lt;/nav&gt;] (сокращение от английского «navigation»). Обычно в #[b &lt;nav&gt;&lt;/nav&gt;] включают ссылки на другие страницы или навигацию по текущей странице.
      p Кроме того, блок #[b &lt;nav&gt;&lt;/nav&gt;] помимо ссылок может включать абзацы с текстом, заголовки, списки и другое содержание.
      p Не каждая группа ссылок на странице должна быть обёрнута в #[b &lt;nav&gt;&lt;/nav&gt;]. Например, небольшой блок со вспомогательными ссылками в подвале сайта. Такой блок внутри тега #[b &lt;footer&gt;&lt;/footer&gt;] не нужно дополнительно оборачивать в тег #[b &lt;nav&gt;&lt;/nav&gt;].
      p В случае, когда навигация шапки дублируется в подвале сайта, не рекомендуется использовать тег #[b &lt;nav&gt;&lt;/nav&gt;] повторно. Достаточно будет использовать список со ссылками.
