extends ../../layout/layout

block variables
  - var title = 'Тег p'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Основную структуру текста создают с помощью заголовков, а более мелкую выстраивают с помощью параграфов (или абзацев). Для разметки параграфов предназначен тег #[b &lt;p&gt;&lt;/p&gt;] (от английского «paragraph»).
      p По умолчанию абзацы начинаются с новой строки и отделяются от остального контента отступами сверху и снизу. Так что, если нужно отделить один блок текста от другого, верным решением будет заключить их в теги #[b &lt;p&gt;&lt;/p&gt;].
      pre
        code.
          &lt;p&gt;Абзац про то, как я решил стать верстальщиком.&lt;/p&gt;
          &lt;p&gt;Абзац про моего инструктора.&lt;/p&gt;
          &lt;p&gt;Абзац про мой дневник.&lt;/p&gt;
      p «Абзац – отрезок письменной речи, состоящий из одного или нескольких предложений, зачастую объединённых общей мыслью». Это привычное нам определение. Параграф в HTML совсем другой.
      p Параграфы в HTML – это всего лишь неразрывная последовательность фразовых элементов, то есть чисто структурная, а не смысловая сущность. Параграфы существуют даже без тега #[b &lt;p&gt;&lt;/p&gt;].
      p А тег #[b &lt;p&gt;&lt;/p&gt;] позволяет лишь явно выделять параграфы, группируя элементы с фразовым типом содержимого. И это могут быть не только блоки текста, а, например, изображения, ссылки или поля ввода.
      p #[strong Не все теги могут быть включены в #[b &lt;p&gt;&lt;/p&gt;]. Например, внутри абзаца не могут располагаться крупные структурные теги, заголовки, формы, списки, таблицы. Когда браузер встречает неподходящий тег внутри #[b &lt;p&gt;&lt;/p&gt;], он «выбрасывает» этот тег из #[b &lt;p&gt;&lt;/p&gt;].]
      h2 Лид
      p Лид (от английского «leading paragraph») – ведущий параграф, аннотация, резюме текста, вводная мысль. Зачастую выводится на общую страницу новостей как вступительный абзац, так что лид может убедить пользователя, что ему необходимо прочитать весь материал.
      p Обычно лид состоит из 2-3 предложений и занимает не больше 5 строк.
      p У лида часто встречается отличающееся оформление, например, начертание, увеличенный кегль, отступы, реже – рамки и фоны. Верстается лид параграфом и стилизуется по классу.
