extends ../../layout/layout

block variables
  - var title = 'Тег pre'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Множественные пробелы (два и более пробела подряд) браузер отображает как один, а переносы строк не отображает вовсе.
      p Тег #[b &lt;pre&gt;&lt;/pre&gt;] (сокращение от «preformatted text»), обозначает предварительно отформатированный текст. Содержимое этого тега браузер отображает моноширинным шрифтом с сохранением всех пробелов и переносов строк.
      p Чаще всего этот тег #[b &lt;pre&gt;&lt;/pre&gt;] используют для отображения примеров кода, реже применяется для отображения картинок ASCII Art.
