extends ../../layout/layout

block variables
  - var title = 'Тег section'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;section&gt;&lt;/section&gt;] обозначает крупный смысловой раздел (или «логический») раздел. Как понять, что раздел смысловой? Если вы можете дать ему имя, описывающее его содержание или назначение, то это точно он. Например, блок «О компании», список товаров, список постов, раздел личной информации в профиле, и так далее.
      p Хороший пример использования #[b &lt;section&gt;&lt;/section&gt;] — разделение книги на главы, ведь название главы описывает её содержание. Так одна глава, без остальных, воспринимается вырванной из контекста. То же самое с контентом главной страницы. Смысловые разделы составляют содержание страницы, но сами по себе, в отрыве от страницы, эти «секции» жить не могут и теряют смысл.
      p Небольшая подсказка как отличать смысловые или логические разделы от структурных разделов. Логический раздел вы можете осмысленно назвать одним словом или словосочетанием: «программа обучения», «каталог», «наши преимущества». Если же в голову приходят названия, которые указывают на его положение на странице («шапка», «подвал», «левая колонка»), либо перечисления («новости и галерея», «фильтры и товары»), в таком случае раздел структурный и тег #[b &lt;section&gt;&lt;/section&gt;] для него не подходит.
