extends ../../layout/layout

block variables
  - var title = 'Теги ul, ol и li.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Списки позволяют сделать текст более удобным для чтения, выделить структуру мыслей и деталей.
      h2 Тег ul, неупорядоченный список.
      p Неупорядоченный список размечается тегом #[b &lt;ul&gt;&lt;/ul&gt;] (сокращение от «unordered list»). Его используют, когда порядок элементов не важен. Например, для разметки перечня ссылок в меню, преимуществ товара, ингредиентов в составе продукта.
      p Непосредственно в теге #[b &lt;ul&gt;&lt;/ul&gt;] могут находиться только теги #[b &lt;li&gt;&lt;/li&gt;] (сокращение от «list item»), которые обозначают элементы или пункты списка. Пунктов может быть неограниченное количество, но должно быть не менее одного.
      p По умолчанию элементы #[b &lt;ul&gt;&lt;/ul&gt;] отмечаются маркерами такого же цвета, как цвет текста.
      p Пример:
      pre
        code.
          &lt;ul&gt;
            &lt;li&gt;Я пункт списка, могу быть на любом месте.&lt;/li&gt;
            &lt;li&gt;И я пункт списка, и мне тоже не важен порядок.&lt;/li&gt;
          &lt;/ul&gt;
      figure
        ul
          li Я пункт списка, могу быть на любом месте.
          li И я пункт списка, и мне тоже не важен порядок.
      h2 Тег ol, упорядоченный список.
      p За упорядоченные списки отвечает тег #[b &lt;ol&gt;&lt;/ol&gt;] (сокращение от «ordered list»). Как понятно из названия, здесь действительно важно, в каком порядке идут элементы. Упорядоченные списки подходят для разметки алгоритмов, инструкций, рецептов, результатов соревнований и так далее.
      p Пункты упорядоченного списка тоже размечаются с помощью тега #[b &lt;li&gt;&lt;/li&gt;].
      p По умолчанию перед элементами #[b &lt;ol&gt;&lt;/ol&gt;] ставится их порядковый номер, а нумерация начинается с единицы.
      pre
        code.
          &lt;ol&gt;
            &lt;li&gt;Я первый и только первый пункт.&lt;/li&gt;
            &lt;li&gt;Я не я, если я не второй пункт.&lt;/li&gt;
            &lt;li&gt;Третий после стольких лет? Всегда!&lt;/li&gt;
          &lt;/ol&gt;
      figure
        ol
          li Я первый и только первый пункт.
          li Я не я, если я не второй пункт.
          li Третий после стольких лет? Всегда!
      p С помощью атрибута #[b start] можно поменять число, с которого начинается нумерация элементов. Допустимы отрицательные значения.
      pre
        code.
          &lt;ol start="3"&gt;
            &lt;li&gt;Раз&lt;/li&gt;
            &lt;li&gt;Два&lt;/li&gt;
          &lt;/ol&gt;
      figure
        ol(start='3')
          li Раз
          li Два
      p Атрибут #[b reversed] меняет направление нумерации на противоположное. Этот атрибут не требует значения.
      p С помощью атрибута #[b type] можно задавать различные типы маркеров вместо обычных арабских цифр: строчные и заглавные латинские буквы или римские цифры. Возможные значения этого атрибута:
      ul
        li #[b 1] — (значение по умолчанию) десятичное число.
        li #[b a] — буквы латинского алфавита в нижнем регистре.
        li #[b A] — буквы латинского алфавита в верхнем регистре.
        li #[b i] — римские цифры в нижнем регистре.
        li #[b I] — римские цифры в верхнем регистре.
      h2 Вложенность.
      p Теги #[b &lt;ol&gt;&lt;/ol&gt;] и #[b &lt;ul&gt;&lt;/ul&gt;] можно вкладывать друг в друга и создавать многоуровневые списки. Количество уровней в списках не ограничено.
      p Сначала нужно создать список первого уровня, а внутрь тега #[b &lt;li&gt;&lt;/li&gt;] этого списка добавить ещё один список. При этом необходимо аккуратно закрывать все теги.
      pre
        code.
          &lt;ol&gt;
            &lt;li&gt;Фрукты
              &lt;ul&gt;
                &lt;li&gt;Яблоки&lt;/li&gt;
                &lt;li&gt;Бананы&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
            &lt;li&gt;Йогурт&lt;/li&gt;
          &lt;/ol&gt;
      figure
        ol
          li Фрукты
            ul
              li Яблоки
              li Бананы
          li Йогурт
