extends ../../layout/layout

block variables
  - var title = 'Тег video'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Тег #[b &lt;video&gt;&lt;/video&gt;] предназначен для вставки видео. Но не всех, а только тех, на которые мы можно дать прямую ссылку. Зачастую это видеофайлы, которые хранятся на нашем собственном сервере. Это материалы, за которые мы переживаем: уникальный контент, который нам не хочется выкладывать на внешние сервисы вроде YouTube.
      h3 Основные атрибуты
      ul
        li #[b width] и #[b height] — ширина и высота видео.
        li #[b src] — адрес видеофайла.
        li #[b controls] — добавляет элементы управления видеоплеером.
        li #[b poster] — адрес картинки-обложки, которая отображается когда видео ещё не загрузилось или не воспроизводится.
        li #[b autoplay] — при наличии этого атрибута воспроизведение видео начинается автоматически.
        li #[a(href='../html-attributes/preload.html') preload] — режим предзагрузки видео.
      h3 Форматы и источники видео
      p Адрес видеофайла можно указать в атрибуте #[b src] тега #[b &lt;video&gt;&lt;/video&gt;], но...
      p На текущий момент существует несколько форматов видео, каждый из которых хорошо поддерживается лишь несколькими браузерами.
      p Самые распространённые форматы:
      ul
        li MPEG-4/H.264.
        li OGG/Theora.
        li WebM.
      p Поэтому необходимо использовать видео во всех этих форматах, а их адреса указать с помощью тегов #[b &lt;source&gt;]: в атрибуте #[b src] указывается адрес видеофайла, а в атрибуте #[b type] его тип (также там могут указываться и кодеки).
      pre
        code.
          &lt;video controls&gt;
            &lt;source src="video.mp4" type="video/mp4"&gt;
            &lt;source src="video.ogv" type="video/ogg"&gt;
            &lt;source src="video.webm" type="video/webm"&gt;
          &lt;/video&gt;
      p Браузер из списка видеофайлов выбирает первый, который может проиграть и загружает его.
      p Атрибут #[b type] не является обязательным, так как браузер умеет сам определять тип и кодеки, но указывая тип явно, мы помогаем ему не ошибиться.
      p На YouTube невозможно получить прямую ссылку на видеоролик, чтобы вставить его в тег #[b &lt;video&gt;&lt;/video&gt;], и это приходится делать с помощью #[b &lt;iframe&gt;&lt;/iframe&gt;] — тега для вставки фреймов.

