extends ../../layout/layout

block variables
  - var title = 'Анимации.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Как только фигура будет нарисована, она останется такой. Чтобы переместить её, придется перерисовать её и всё, что было нарисовано до неё. Перерисовка сложных кадров занимает много времени, а производительность во многом зависит от скорости компьютера, на котором она работает.
      p Базовые шаги анимации:
      ol
        li Очистка холста.
        li Сохранение #[a(href='configuration.html') конфигурации] холста.
        li Рисование фигур.
        li Восставновление #[a(href='configuration.html') конфигурации] холста.
