extends ../../layout/layout

block variables
  - var title = 'Метод arcTo.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Метод #[b arcTo(x1, y1, x2, y2, radius)] — добавить дугу, скругляющую угол.
      ul
        li #[b x1], #[b y1] — первая контрольная точка.
        li #[b x2], #[b y2] — вторая контрольная точка.
        li #[b radius] — радиус.
      p Как формируется дуга:
      ol
        li От точки (#[b x1], #[b y1]) направляются лучи к исходной позиции и к точке (#[b x2], #[b y2]), образуя угол.
        li Окружность заданного радиуса размещается в этом углу так, чтобы полностью поместиться.
        li Части окружности, которые касаются лучей и часть между этими частями является добавляемой к пути дугой. Иными словами такая дуга — это скругление угла, образуемого лучами.
      p Начало дуги автоматически соединяется прямой линией с текущей позицией.
