extends ../../layout/layout

block variables
  - var title = 'Метод clip.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Метод #[b clip()] — закрыть путь и сделать из него контур обрезки холста.
