extends ../../layout/layout

block variables
  - var title = 'Метод createRadialGradient.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Метод #[b createRadialGradient(x1, y1, r1, x2, y2, r2)] — создать радиальный градиент.
      p Серцем радиального градиента является колечко. Внешняя окружность задаёт положение и радиус колечка, а внутренняя — положение и радиус отверстия в колечке. Поэтому внутренняя окружность не должна выходить за пределы внешней, чтобы колечко не сломалось.
      ul
        li #[b x1], #[b y1] — координаты центра внутренней окружности.
        li #[b r1] — радиус внутренней окружности.
        li #[b x2], #[b y2] — координаты центра внешней окружности.
        li #[b r2] — радиус внешней окружности.
      p Градиент направлен от внутренней стороны колечка ко внешней.
      p Отверстие в колечке и часть градиента вокруг колечка заполняются цветами ближайших колорстопов.
