extends ../../layout/layout

block variables
  - var title = 'Метод getLineDash.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Метод #[b getLineDash()] — получить паттерн прерывистости обводки.
