extends ../../layout/layout

block variables
  - var title = 'Свойство globalCompositeOperation.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b globalCompositeOperation] — устанавливает тип операции композиции, применяемой при рисовании новых фигур.
      p Значения:
      ul
        li #[b 'source-over'] — (по умолчанию) новая фигура рисуется поверх имеющегося содержимого холста.
        li #[b 'source-in'] — новая фигура рисуется только там, где она перекрывается с содержимым холста, а всё остальное становится прозрачным. Иными словами новая фигура превращает имеющееся содержимое холста в свою маску.
        li #[b 'source-out'] — новая фигура рисуется только там, где она не перекрывается с содержимым холста, при этом прежнее содержимое холста становится прозрачным.
        li #[b 'source-atop'] — новая фигура рисуется только там, где она перекрывается с содержимым холста.
      ul
        li #[b 'destination-over'] — новая фигура рисуется позади имеющегося содержимого холста.
        li #[b 'destination-in'] — имеющееся содержимое холста сохраняется там, где перекрвается новой фигурой, а всё остальное становится прозрачным. Иными словами фигура сработала как маска для имеющегося содержимого холста.
        li #[b 'destination-out'] — имеющееся содержимое холста сохраняется там, где оно не перекрывается новой фигурой. Иными словами, новая фигура делает очищает область холста, соответсвующую своей фигуре.
        li #[b 'destination-atop'] — имеющееся содержимое холста сохраняется там, где перекрвается с новой фигурой, а новая фигура рисуется позади.
      p Значения связанные со смешиванием цветов:
      ul
        li #[b 'lighter'].
        li #[b 'copy'].
        li #[b 'xor'].
        li #[b 'multiply'].
        li #[b 'screen'].
        li #[b 'overlay'].
        li #[b 'darken'].
        li #[b 'lighten'].
        li #[b 'color-dodge'].
        li #[b 'color-burn'].
        li #[b 'hard-light'].
        li #[b 'soft-light'].
        li #[b 'difference'].
        li #[b 'exclusion'].
        li #[b 'hue'].
        li #[b 'saturation'].
        li #[b 'color'].
        li #[b 'luminosity'].
