extends ../../layout/layout

block variables
  - var title = 'Градиенты и паттерны.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Помимо цветов, заполнять и обводить фигуры можно градиентами и паттернами.
      h2 Градиенты.
      p Каждый градиент как бы бесконечен и как бы отрисовывается на отдельном слое. У каждого градиента есть как бы сердце — часть градиента, которая определяет внешний вид и содержит колорстопы.
      p Методы для создания градиентов:
      ul
        li #[a(href='create-linear-gradient.html') createLinearGradient] — создать линейный градиент.
        li #[a(href='create-radial-gradient.html') createRadialGradient] — создать радиальный градиент.
        li #[a(href='create-conic-gradient.html') createConicGradient] — создать конический градиент.
      p Чтобы градиенты отображались, им нужно задать цвета методом #[a(href='add-color-stop.html') addColorStop].
      p Координаты градиента глобальны, т.е. задаются относительно текущего координатного пространства, а не относительно фигур, к которым они применены. При примении градиента к фигурам, они как бы становятся окном, через которое виден слой градиента.
      h2 Паттерн.
      p Паттерн — это что-то вроде повторяющегося узора. Создаётся методом  #[a(href='create-pattern.html') createPattern].
