extends ../../layout/layout

block variables
  - var title = 'Свойство lineCap'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b lineCap] — стиль концов линий.
      p Значения:
      ul
        li #[b butt] — (значение по умолчанию) конец обводки совпадает с концом линии и выглядит квадратным.
        li #[b round] — закругленные. Будет отрисован круг с центром на конце линии и диаметром равным ширине обводки.
        li #[b square] — квадратные. Будет добавлен квадрат шириной равной ширине обводки и центром на конце линии.
      p Поскольку круг и квадрат центрируются на конце линии, их вторая половина будет визуально удлинять линию.
