extends ../../layout/layout

block variables
  - var title = 'Свойство miterLimit.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b miterLimit] — коэффициент максимальной ширины miter-соединения линий.
      p Свойство используется при типе соединения #[a(href='line-join.html') miter].
      p Значением могут быть положительные числа. Значение по умолчанию — #[b 10.0].
      p Ширина в месте соединения — это расстояние от внутреннего до внешнего угла. Максимальная ширина рассчитывается как ширина обводки, умноженная на коэффициент. Если ширина соединения больше максимальной, то соединение будет отображаться как при значении #[a(href='line-join.html') bevel].
