extends ../../layout/layout

block variables
  - var title = 'Метод quadraticCurveTo.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Метод #[b quadraticCurveTo(cp1x, cp1y, x, y)] — добавить квадратичную кривую Безье от текущей позиции к точке (#[b x], #[b y]) с контрольной точкой (#[b cp1x], #[b cp1y]).
