extends ../../layout/layout

block variables
  - var title = 'Метод rotate'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Метод #[b rotate(angle)] — повернуть координатную сетку на угол в #[a(href='../canvas/radian.html') радианах] по часовой стрелке.
