extends ../../layout/layout

block variables
  - var title = 'Свойство textBaseline'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b textBaseline] — базовая линия.
      p Похоже на положение первой строки текста относительно своей позиции #[b y]...
      p Значения:
      ul
        li #[b alphabetic] — (значение по умолчанию) текст располагается на линии #[b y], хвостики букв свисают ниже.
        li #[b hanging] — в точности как #[b alphabetic]. Говорят, что используется тибетским и другими индийскими письменностями.
        li #[b top] — текст располагается под линией #[b y].
        li #[b middle] — текст располагается посередине линии #[b y].
        li #[b bottom] — текст располагается чуть выше линии #[b y] так, что хвостики букв касаются линии.
        li #[b ideographic] — текст располагается чуть выше линии #[b y] так, что хвостики букв наползают на линию. Говорят, что используется китайскими, японскими и корейскими сценариями.

