extends layout/layout

block variables
  - var title = 'CSS-препроцессоры.'

block content
  main
    .container
      nav
        ul
          li Less
            ol
              li #[a(href='articles/css-preprocessors/less-intro.html') Основы Less]
          li Sass
            ol
              li #[a(href='articles/css-preprocessors/sass-intro.html') Основы Sass]
