extends layout/layout

block variables
  - var title = 'Дизайн'

block content
  main
    .container
      nav
        ol
          li #[a(href='articles/design/design-intro.html') Для чего разработчикам понимать дизайн?]
          li #[a(href='articles/design/grid-and-rhythm.html') Сетка и ритм]
          li #[a(href='articles/design/typography.html') Типографика]
          li #[a(href='articles/design/design-color.html') Цвет]
          li #[a(href='articles/design/adaptive.html') Адаптив]
          li #[a(href='articles/design/animation.html') Анимация]
          li #[a(href='articles/design/user-experience.html') Пользовательский опыт]
          li #[a(href='articles/design/design-tokens.html') Дизайн-токены]
          li #[a(href='articles/design/content-hierarchy.html') Иерархия контента]
