extends layout/layout

block variables
  - var title = 'Оптимизация.'

block content
  main
    .container
      nav
        ol
          li #[a(href='articles/optimization/performance.html') Производительность вёрстки]
          li #[a(href='articles/optimization/retina-first.html') Подход «Retina first»]
