extends ../../layout/layout

block variables
  - var title = 'Атрибут title.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Атрибут #[b title] является #[i глобальным], то есть его можно применять к любому элементу в HTML-разметке, чтобы получить «всплывающий» блок с текстом при наведении курсора.
      p Пример:
      pre
        code.
          &lt;p title="Всплывающая подсказка"&gt;Наведите курсор мыши на эту строку текста.&lt;/p&gt;
      figure
        p(title="Всплывающая подсказка") Наведите курсор мыши на эту строку текста.
      p Подсказка появится, когда курсор задержится над ссылкой некоторое время.
