extends ../../layout/layout

block variables
  - var title = 'Контентные изображения'
  - var pageClass = 'article-page'

block content
  main(class= pageClass)
    article.content
      h1= title
      p Для подключения контентых изображений предназначен тег #[code img]. Внутри него с помощью атрибута #[code &lt;src&gt;] (сокращение от «source»), необходимо написать адрес, ведущий к картинке.
      pre
        code.
          &lt;img src="img/logo.svg"&gt;
      h2 Размеры изображения
      p По умолчанию размеры изображения равны его исходным значениям.
      p В HTML, чтобы управлять шириной или высотой изображения, нужно использовать атрибуты #[code width] и #[code height]. Размеры в этих атрибутах задаются без единиц измерения.
      pre
        code.
          &lt;img src="img/logo.svg" width="200" height="100"&gt;
      p В примере выше изображению задана ширина #[code 200px] и высота #[code 100px].
      p Если задать только один из размеров, ширину или высоту, то вторую размерность браузер вычислит самостоятельно исходя из пропорций изображения.
      p При работе с высотой и шириной изображения нужно быть очень аккуратным. Ведь если задать картинке одновременно и высоту и ширину, то браузер может нарушить пропорции исходного изображения.
      h2 Атрибут alt
      p Чтобы было понятно, что изображено на картинке, в случаях, когда она не может отобразиться, существует альтернативный текст. Ещё альтернативный текст помогает сайтам оставаться доступными, например, для категории пользователей, которая не имеет возможности видеть картинки. Что является большим плюсом.
      p Альтернативный текст задаётся с помощью атрибута #[code alt]. Например:
      pre
        code.
          &lt;img src="files/cat.jpg" alt="Небольшой серый кот."&gt;
      p Максимальная рекомендуемая длина – 125 символов.
      h2 Адаптивные изображения
      p Тег #[code img] может подключать разные изображения в зависимости от пиксельной плотности экрана.
      p Для этого в атрибуте #[code srcset] нужно указать путь и дескриптор #[code x], обозначающий для экранов какой плотности предназначено изображение.
      p В примере добавлены версии изображения для 2x, 3x и 4x экранов:
      pre
        code.
          &lt;img src="files/cat.jpg" srcset="files/cat@2x.jpg 2x, files/cat@3x.jpg 3x, files/cat@4x.jpg 4x" alt="Небольшой серый кот."&gt;
      p Кроме этого тег #[code img] может подлючать разные изображения в зависимости от нужной ширины.
      p Для этого в атрибуте #[code sizes] нужно задать ширину изображения, а в атрибуте #[code srcset] перечислить пути и дескрипторы #[code w], обозначающие реальные значения ширины изображений.
      p В примере задана ширина #[code 50vw] – половина экрана, и пути к изображениям с шириной #[code 400px] и #[code 800px]:
      pre
        code.
          &lt;img src="files/cat-200.jpg" sizes="50vw" srcset="files/cat-400.jpg 400w, files/cat-800.jpg 800w" alt="Небольшой серый кот."&gt;
      p Таким образом, если ширина экрана #[code 320px], то #[code 50vw] будет равняться #[code 160px]. В этом случае загрузиться изображение #[code cat-200.jpg], так как это самый оптимальный вариант. Если ширина экрана будет равна #[code 768px], то половина экрана будет равна #[code 383px] и будет загружено #[code cat-400.jpg]. При этом учитывается пиксельная плотность экрана. Если плотность будет равна #[code 1.5], то при ширине #[code 768px] требуемая ширина изображения станет #[code (768px * 1.5) / 2 = 576px] и будет использовано #[code cat-800.jpg].
      p В атрибуте #[code sizes] может быть перечислено несколько размеров (дополнительные размеры имеет смысл использовать только с условиями). Среди них будет выбран первый подходящий вариант.
      p В примере ниже на ширине до #[code 399px] включительно размер будет равен #[code 100vw], на большей ширине – #[code 400px]:
      pre
        code.
          &lt;img src="files/cat-200.jpg" sizes="(max-width: 399px) 100vw, 400px" srcset="files/cat-400.jpg 400w" alt="Небольшой серый кот."&gt;
      p Размеры в атрибуте #[code sizes] нельзя указывать в процентах.
      p Если при использовании #[code srcset] с дескриптором #[code w] не задан атрибут #[code sizes], то размером для подбора изображения будет считаться #[code 100vw].
      h3 Тег picture
      p Тег #[code picture] должен содержать один тег #[code img] и может содержать теги #[code source], которые предоставляют дополнильные возможности для выбора подключаемого изображения.
      p Например, использовать медиавыражения для подлючения разных изображений:
      pre
        code.
          &lt;picture&gt;
            &lt;source media="(min-width: 768px)" srcset="cat-tablet.jpg, cat-tablet@2x.jpg 2x"&gt;
            &lt;img src="files/cat-mobile.jpg" srcset="cat-mobile@2x.jpg 2x" alt="Небольшой серый кот."&gt;
          &lt;picture/&gt;
      p или подключать изображения определённого типа. В примере ниже, если браузер поддерживает форма WebP, то будет использовано изображение в этом формате вместо JPG.
      pre
        code.
          &lt;picture&gt;
            &lt;source type="image/webp" srcset="files/cat.webp, files/cat@2x.webp 2x"&gt;
            &lt;img src="files/cat.jpg" srcset="files/cat@2x.jpg 2x" alt="Небольшой серый кот."&gt;
          &lt;picture/&gt;
