extends ../../layout/layout

block variables
  - var title = 'Изображения'
  - var pageClass = 'article-page'

block content
  main(class= pageClass)
    article.content
      h1= title
      h2 Растровая и векторная графика
      h3 Растровая графика
      p Растровое изображение, как мозаика, складывается из множества маленьких ячеек — пикселей, где каждый пиксель содержит информацию о цвете.
      p Растровая графика удобна для создания качественных фотореалистичных изображений, цифровых рисунков и фотографий.
      p Преимущества:
      ul
        li Возможность создать изображение любой сложности — с огромным количеством деталей и широкой цветовой гаммой.
      p Недостатки:
      ul
        li Большой занимаемый объём памяти: чем больше «размер» изображения, тем больше в нём пикселей и, соответственно, тем больше места нужно для хранения/передачи такого изображения.
        li Невозможность масштабирования: растровое изображение невозможно масштабировать без потерь. При изменении размера оригинального изображения неизбежно (в результате процесса интерполяции) произойдёт потеря качества.
      p Наиболее распространённые растровые форматы: JPEG, PNG.
      h3 Векторная графика
      p Векторные изображения состоят из множества опорных точек и соединяющих их кривых, описанных с помощью математических формул.
      p Векторная графика используется для иллюстраций, иконок, логотипов и технических чертежей.
      p Преимущества:
      ul
        li Малый объём занимаемой памяти — векторные изображения имеют меньший размер, так как содержат в себе малое количество информации.
        li Векторные изображения отлично масштабируются — можно бесконечно изменять размер изображения без потерь качества.
      p Недостатки:
      ul
        li Чтобы отобразить векторное изображение требуется произвести ряд вычислений, соответственно, сложные изображения могут требовать повышенных вычислительных мощностей.
        li Не каждая графическая сцена может быть представлена в векторном виде: для сложного изображения с широкой цветовой гаммой может потребоваться огромное количество точек и кривых, что сведёт «на нет» все преимущества векторной графики.
      p Самые популярные векторные форматы: SVG, AI.
      h2 Форматы изображений
      p Форматов изображений существует достаточно много, но основных несколько: JPEG, PNG, SVG, GIF и WebP.
      h3 GIF
      p Формат #[abbr(title='Graphics Interchange Format') GIF] был разработан для передачи растровых изображений по интернету. GIF имеет цветовую палитру, состоящую из 256 цветов. Алгоритм GIF выбирает 256 наиболее используемых в исходном изображении цветов, а все остальные оттенки создаются путём подмешивания – подбора соседних пикселей таким образом, чтобы человеческий глаз воспринимал их как нужный цвет. По этой причине GIF не подходит для хранения полноцветных изображений и фотографий, но подходит для простейших анимаций.
      p Формат поддерживает прозрачность – каждый пиксель может быть в двух состояниях: прозрачный или непрозрачный, полупрозрачность не поддерживается.
      p В последнее время GIF-изображения становятся всё менее используемыми и заменяются на другие, более оптимальные форматы.
      p GIF подходит для:
      ul
        li анимированных изображений
      h3 JPEG
      p Формат #[abbr(title='Joint Photographic Experts Group') JPEG] был разработан для сжатия и хранения полноцветных фотографий. Он поддерживает более 16 миллионов цветов.
      p Сохранение изображения в JPEG позволяет выбрать уровень качества: чем меньше вес, тем хуже внешний вид. Главная задача при работе с JPEG – подобрать такой уровень сжатия, чтобы и вес, и качество картинки были приемлемыми.
      p JPEG подходит для:
      ul
        li полноцветных изображений, фотографий
        li изображений с плавным переходом яркости и контраста
        li рисунков с большим количеством разноцветных деталей
      p Плохо подходит для схем, чертежей, текста и графики.
      h3 PNG
      p #[abbr(title='Portable Network Graphics') PNG] является форматом сжатия без потерь и позволяет сохранять изображения, в которых требуется особенная чёткость. Например, скриншоты сайтов, схемы, графики, чертежи, печатный текст. Поддерживает практически неограниченное количество цветов. На фотографиях он обычно уступает JPEG по размеру файла, но превосходит по качеству изображения. Главная особенность формата PNG – поддержка полупрозрачности, то есть каждый пиксель в отдельности может иметь свою степень прозрачности.
      p PNG подходит для:
      ul
        li изображений с прозрачностью и полупрозрачностью
        li полноцветных изображений, когда необходима повышенная точность
        li изображений с резкими переходами цветов
      h4 PNG-8
      p PNG-8 – подтип формата PNG, по характеристикам схожий с GIF: уровень сжатия, качество и другие характеристики примерно одинаковые, имеется поддержка прозрачности, максимальное количество цветов – 256.
      p Чем PNG-8 лучше GIF? PNG более современный и свободный формат, а GIF более старый и проприетарный (за его использование могут потребовать деньги).
      p Изображения в PNG-8 весят намного меньше, чем в PNG-24, поэтому более предпочтителен для изображений, где мало цветов и нет прозрачности, так как изображения с прозрачностью будут выглядеть «обкусанными».
      p PNG-8 подходит для:
      ul
        li малоцветных изображений без прозрачности
      h3 WebP
      p Формат, который приходит на замену всем растровым форматам. Он поддерживает анимацию как GIF, прозрачность как PNG и умеет ужиматься при том же качестве гораздо эффективнее, чем JPEG. В среднем, его вес будет на 25-34% меньше, чем у JPEG.
      h3 Форматы будущего
      ol
        li #[a(href='https://caniuse.com/avif') AVIF] – 83%
        li #[a(href='https://caniuse.com/jpeg2000') JPEG 2000] – только Safari
        li #[a(href='https://caniuse.com/jpegxl') JPEG XL] – 0%
        li #[a(href='https://caniuse.com/jpegxr') JPEG XR] – только IE и старый Edge
      h3 SVG
      p #[abbr(title='Scalable Vector Graphics') SVG] переводится как масштабируемая векторная графика. Качество таких изображений не меняется при изменении размеров, да и вес у них небольшой. Формат SVG отлично подходит для малоцветных схем, логотипов, иконок, не детализированных изображений.
      p А ещё SVG чем-то похож на HTML: он описывается в человекочитаемом текстовом формате. То есть вы можете «кодить» SVG-изображения своими руками.
      p SVG подходит если:
      ul
        li необходимо масштабировать изображение без потерь
        li изменять цвет элементов изображения
        li нужно анимировать части изображения
      h2 Контентные и декоративные изображения
      p Контентные изображения (от английского «content» – содержимое) имеют информационное значение и несут смысл для пользователя, так как влияют на его выбор, на принимаемое пользователем решение. К примеру, это фотографии товара в интернет-магазине. К контентным изображениям также относится логотип сайта и логотипы брендов.
      p Декоративные изображения используются исключительно для оформления и не содержат полезной информации. Если убрать декоративное изображение со страницы, то ущерба для содержания страницы не будет. Декоративные изображения следует добавлять с помощью CSS.
      h3 Хранение картинок
      p В папке #[i img] хранятся «интерфейсные» картинки. Обычно это декоративные изображения, которые появляются ещё при вёрстке сайта. Они могут повторяться во многих местах интерфейса сайта.
      p В папке #[i files] хранятся «контентные» картинки. Это изображения, которые обычно появляются при наполнении сайта. Контент-менеджер может загружать их на сайт с помощью системы управления и потом вставлять в содержание отдельных страниц.
      p Разделить эти ресурсы полезно. Например, можно запретить менеджеру работать с папкой #[i img], и он не удалит по ошибке какую-нибудь важную интерфейсную картинку.
      h2 Инструменты оптимизации
      p #[a(href='https://squoosh.app') Squoosh] – оптимизация и конвертация растровых изображений
      p #[a(href='https://jakearchibald.github.io/svgomg') SVGOMG] – оптимизация SVG
