extends ../../layout/layout

block variables
  - var title = 'Фоны'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойства, управляющие фоном:
      ul
        li #[a(href='../css-properties/background-color.html') background-color] — фоновый цвет.
        li #[a(href='../css-properties/background-image.html') background-image] — фоновое изображение.
        li #[a(href='../css-properties/background-repeat.html') background-repeat] — повтор фонового изображения.
        li #[a(href='../css-properties/background-attachment.html') background-attachment] — привязка фонового изображения.
        li #[a(href='../css-properties/background-origin.html') background-origin] — позиционирование фонового изображения.
        li #[a(href='../css-properties/background-clip.html') background-clip] — обрезка фона.
        li #[a(href='../css-properties/background-position.html') background-position] — позиция фонового изображения.
        li #[a(href='../css-properties/background-size.html') background-size] — размер фонового изображения.
        li #[a(href='../css-properties/background.html') background] — составное свойство (color image repeat attachment origin clip position size).
      p Элементу можно одновременно задать фоновое изображение и фоновый цвет. В этом случае, картинка будет отображаться поверх фонового цвета.
      p Фоновое изображение и фоновый цвет блока всегда должны достаточно сильно контрастировать с цветом текста. Чем больше контраст, тем удобнее читается текст в разных условиях освещённости и на разных устройствах. Поэтому если вы задаёте блоку фоновое изображение, нужно обязательно дополнительно задавать подходящий фоновый цвет. В этом случае, пока изображение загружается, или в случае, если оно совсем не загрузится, текст всё равно можно будет прочитать.
      h2 Множественный фон
      p Одному элементу можно задать несколько фоновых изображений одновременно. Для этого пути к изображениям в свойствах #[b background-image] или #[b background] перечисляются через запятую:
      pre
        code.
          background-image: url("image-1.png"), url("image-2.png");
      p При этом сверху будет то изображение, которое находится раньше в списке: #[b image-1.png] в примере будет сверху #[b image-2.png].
      p Значения других свойств для множественных фоновых изображений тоже задаются через запятую. Порядок значений должен соответствовать порядку фоновых изображений. Если значение только одно, оно будет действовать на все фоновые изображения.
      p Пример:
      pre
        code.
          /* Первой картинке задан размер contain, второй — 100%. */
          background-size: contain, 100%;

          /* Для первой картинки позиционирование top, для второй — 100%. */
          background-position: top, 100%;
      p В свойстве #[b background] допустимо указывать сразу несколько фоновых изображений и их параметры:
      pre
        code.
          background: url("image-1.png") no-repeat center / 20%,
                      url("image-2.png") 0 / 80px;
      h3 Старая надёжная техника для создания нескольких фонов
      p Суть техники заключается в том, что мы вкладываем элементы друг в друга и делаем их одинакового размера, а затем каждому элементу задаём свой фон. То есть каждый элемент служит одним слоем фона.
      p Фоны вложенных элементов перекрывают друг друга: чем глубже элемент, тем выше его фон.
      p Для удобства ширину лучше задавать внешнему элементу (так как все вложенные будут той же ширины), а высоту самому глубокому, так как он растянет по высоте всех своих родителей.
