extends ../../layout/layout

block variables
  - var title = 'Контентные и декоративные изображения'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Контентные изображения (от английского «content» — содержимое) имеют информационное значение и несут смысл для пользователя, так как влияют на его выбор, на принимаемое пользователем решение. К примеру, это фотографии товара в интернет-магазине. К контентным изображениям также относится логотип сайта и логотипы брендов.
      p Контентные изображения добавляются с помощью тега #[a(href='../html-tags/img-and-picture.html') &lt;img&gt;].
      p Декоративные изображения используются исключительно для оформления и не содержат полезной информации. Если убрать декоративное изображение со страницы, то ущерба для содержания страницы не будет. Декоративные изображения следует добавлять с помощью CSS.
      h2 Хранение картинок
      p В папке #[b img] хранятся «интерфейсные» картинки. Обычно это декоративные изображения, которые появляются ещё при вёрстке сайта. Они могут повторяться во многих местах интерфейса сайта.
      p В папке #[b files] хранятся «контентные» картинки. Это изображения, которые обычно появляются при наполнении сайта. Контент-менеджер может загружать их на сайт с помощью системы управления и потом вставлять в #[em содержание] отдельных страниц.
      p Разделить эти ресурсы полезно. Например, можно запретить менеджеру работать с папкой #[b img], и он не удалит по ошибке какую-нибудь важную интерфейсную картинку.
