extends ../../layout/layout

block variables
  - var title = 'Все CSS-свойства.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      ol(style='column-width: 280px;')
        li #[a(href='../css-properties/animation.html') animation]
        li #[a(href='../css-properties/animation-delay.html') animation-delay]
        li #[a(href='../css-properties/animation-direction.html') animation-direction]
        li #[a(href='../css-properties/animation-duration.html') animation-duration]
        li #[a(href='../css-properties/animation-fill-mode.html') animation-fill-mode]
        li #[a(href='../css-properties/animation-iteration-count.html') animation-iteration-count]
        li #[a(href='../css-properties/animation-name.html') animation-name]
        li #[a(href='../css-properties/animation-play-state.html') animation-play-state]
        li #[a(href='../css-properties/animation-timing-function.html') animation-timing-function]
        li #[a(href='../css-properties/background.html') background]
        li #[a(href='../css-properties/background-attachment.html') background-attachment]
        li #[a(href='../css-properties/background-clip.html') background-clip]
        li #[a(href='../css-properties/background-color.html') background-color]
        li #[a(href='../css-properties/background-image.html') background-image]
        li #[a(href='../css-properties/background-origin.html') background-origin]
        li #[a(href='../css-properties/background-position.html') background-position]
        li #[a(href='../css-properties/background-repeat.html') background-repeat]
        li #[a(href='../css-properties/background-size.html') background-size]
        li #[a(href='../css-properties/border.html') border]
        li #[a(href='../css-properties/border-color.html') border-color]
        li #[a(href='../css-properties/border-image.html') border-image]
        li #[a(href='../css-properties/border-image-outset.html') border-image-outset]
        li #[a(href='../css-properties/border-image-repeat.html') border-image-repeat]
        li #[a(href='../css-properties/border-image-slice.html') border-image-slice]
        li #[a(href='../css-properties/border-image-source.html') border-image-source]
        li #[a(href='../css-properties/border-image-width.html') border-image-width]
        li #[a(href='../css-properties/border-radius.html') border-radius]
        li #[a(href='../css-properties/border-style.html') border-style]
        li #[a(href='../css-properties/border-width.html') border-width]
        li #[a(href='../css-properties/box-decoration-break.html') box-decoration-break]
        li #[a(href='../css-properties/box-sizing.html') box-sizing]
        li #[a(href='../css-properties/color.html') color]
        li #[a(href='../css-properties/column-count.html') column-count]
        li #[a(href='../css-properties/column-gap.html') column-gap]
        li #[a(href='../css-properties/column-rule.html') column-rule]
        li #[a(href='../css-properties/column-span.html') column-span]
        li #[a(href='../css-properties/column-width.html') column-width]
        li #[a(href='../css-properties/columns.html') columns]
        li #[a(href='../css-properties/cursor.html') cursor]
        li #[a(href='../css-properties/direction-and-unicode-bidi.html') direction и unicode-bidi]
        li #[a(href='../css-properties/font.html') font]
        li #[a(href='../css-properties/font-family.html') font-family]
        li #[a(href='../css-properties/font-size.html') font-size]
        li #[a(href='../css-properties/font-style.html') font-style]
        li #[a(href='../css-properties/font-variant.html') font-variant]
        li #[a(href='../css-properties/font-weight.html') font-weight]
        li #[a(href='../css-properties/letter-spacing.html') letter-spacing]
        li #[a(href='../css-properties/line-height.html') line-height]
        li #[a(href='../css-properties/list-style.html') list-style]
        li #[a(href='../css-properties/list-style-image.html') list-style-image]
        li #[a(href='../css-properties/list-style-position.html') list-style-position]
        li #[a(href='../css-properties/list-style-type.html') list-style-type]
        li #[a(href='../css-properties/margin.html') margin]
        li #[a(href='../css-properties/max-height.html') max-height]
        li #[a(href='../css-properties/max-width.html') max-width]
        li #[a(href='../css-properties/min-height.html') min-height]
        li #[a(href='../css-properties/max-height.html') max-height]
        li #[a(href='../css-properties/outline.html') outline]
        li #[a(href='../css-properties/outline-color.html') outline-color]
        li #[a(href='../css-properties/outline-offset.html') outline-offset]
        li #[a(href='../css-properties/outline-style.html') outline-style]
        li #[a(href='../css-properties/outline-width.html') outline-width]
        li #[a(href='../css-properties/overflow-wrap.html') overflow-wrap]
        li #[a(href='../css-properties/padding.html') padding]
        li #[a(href='../css-properties/text-align.html') text-align]
        li #[a(href='../css-properties/text-decoration.html') text-decoration]
        li #[a(href='../css-properties/text-decoration-color.html') text-decoration-color]
        li #[a(href='../css-properties/text-decoration-line.html') text-decoration-line]
        li #[a(href='../css-properties/text-decoration-style.html') text-decoration-style]
        li #[a(href='../css-properties/text-shadow.html') text-shadow]
        li #[a(href='../css-properties/text-indent.html') text-indent]
        li #[a(href='../css-properties/text-overflow.html') text-overflow]
        li #[a(href='../css-properties/text-transform.html') text-transform]
        li #[a(href='../css-properties/transition.html') transition]
        li #[a(href='../css-properties/transition-delay.html') transition-delay]
        li #[a(href='../css-properties/transition-duration.html') transition-duration]
        li #[a(href='../css-properties/transition-property.html') transition-property]
        li #[a(href='../css-properties/transition-timing-function.html') transition-timing-function]
        li #[a(href='../css-properties/vertical-align.html') vertical-align]
        li #[a(href='../css-properties/white-space.html') white-space]
        li #[a(href='../css-properties/word-break.html') word-break]
        li #[a(href='../css-properties/word-spacing.html') word-spacing]
        li #[a(href='../css-properties/word-wrap.html') word-wrap]
        li #[a(href='../css-properties/writing-mode.html') writing-mode]
