extends ../../layout/layout

block variables
  - var title = 'Формы.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[a(href='http://simonenko.su/38146501854/improving-ux-for-web-form' target='_blank' rel='nofollow noopener') Старинная статья про формы (18/12/2012).]
      p Формы нужны для того, чтобы отправлять данные с веб-страницы на веб-сервер, который сможет эти данные обработать: зарегистрировать пользователя, создать сообщение на форуме, отправить письмо и так далее.
      p Чтобы создать форму, нужно использовать тег #[b &lt;form&gt;&lt;/form&gt;], внутри которого размещаются поля формы.
      p У тега #[b &lt;form&gt;&lt;/form&gt;] есть два важных атрибута:
      ul
        li #[b action] — задаёт URL-адрес отправки формы.
        li #[b method] — задаёт метод отправки формы.
      pre
        code.
          &lt;form action="https://echo.htmlacademy.ru/courses" method="get"&gt;
            &lt;!-- Поля формы --&gt;
          &lt;/form&gt;
      p Если атрибут #[b action] не указан, данные отправятся на ту же страницу, откуда была отправлена форма.
      p После отправки данных страница будет перезагружена.
      h2 Метод отправки формы.
      p Для отправки формы обычно используют методы #[b get] или #[b post]. Если не указать атрибут #[b method], то будет использован #[b get].
      h3 get.
      p Метод #[b get] посылает данные формы в строке запроса, то есть они видны в адресной строке браузера в виде пар «имя=значение», следующих после знака вопроса (#[b ?]) и разделяющихся между собой амперсандом (#[b &]).
      p Этот метод может отправлять до 4 Кб данных.
      p Метод #[b get] лучше использовать в поисковых формах, потому что он позволяет получить ссылку на результаты поиска и сохранить её в закладках или передать кому-то.
      h3 post.
      p Метод #[b post] посылает данные в теле HTTP-запроса и используется, когда нужно отправить много данных, и ссылка на результат обработки этих данных не нужна. Например, при редактировании личного профиля или пересылке файлов.
      h2 Способ кодирования данных формы.
      p Атрибут #[b enctype] определяет способ кодирования данных формы при их отправке на сервер.
      p Значения:
      ul
        li #[b application/x-www-form-urlencoded] —  (по умолчанию) вместо пробелов ставится #[b +], символы вроде русских букв кодируются их шестнадцатеричными значениями.
        li #[b multiform/form-data] — данные не кодируются. Это значение применяется при отправке файлов.
        li #[b text/plain] — пробелы замещаются знаком #[b +], буквы и другие символ не кодируются.
      p Обычно устанавливать значение атрибута #[b enctype] не требуется, данные вполне правильно принимаются на стороне сервера. Однако если используется поле для отправки файла, следует определить атрибут со значением #[b multipart/form-data].
      h2 Поля формы.
      h3 Тег input.
      p Большинство полей форм создаётся с помощью тега #[b &lt;input&gt;]. У этого тега есть два обязательных атрибута:
      ul
        li #[b type] — тип поля.
        li #[b name] — имя поля.
      p Тип поля влияет на то, как оно будет отображаться и вести себя.
      p Имя поля нужно, чтобы правильно обработать данные на сервере. Обычно, имя поля должно быть уникальным в пределах формы, хотя есть исключения.
      p Атрибут #[b value] задаёт значение поля ввода по умолчанию.
      p Если введённые пользователем данные должны быть отправлены на сервер, где их обрабатывает серверная программа, то элемент #[b &lt;input&gt;] обязательно помещать внутрь контейнера #[b &lt;form&gt;&lt;/form&gt;].
      p Помимо CSS, ширина полей ввода может быть задана в значении атрибута #[b size]. #[b width: auto] для полей ввода рассчитывается из значения #[b size] и не растягивает поля на всю ширину контейнера.
      h4 Текстовое поле.
      p Самый распространённый тип #[b &lt;input&gt;] — это #[b text], который обозначает текстовое поле. Используется по умолчанию.
      pre
        code.
          &lt;input type="text" name="name"&gt;
      h4 Поле для ввода пароля.
      p Чтобы создать поле для ввода пароля, в котором текст будет отображаться «звёздочками» или «кружочками», нужно задать атрибуту #[b type] значение #[b password].
      pre
        code.
          &lt;input type="password" name="password"&gt;
      h4 Поле ввода числового значения.
      p Для ввода числовых значений существует специальный тип поля ввода — #[b number]. Рядом с полем браузер автоматически подставляет две стрелочки для увеличения и уменьшения числового значения.
      p При помощи вспомогательных атрибутов #[b min] и #[b max] можно установить верхнюю и нижнюю границу допустимых значений, а атрибут #[b step] устанавливает величину шага изменения значения.
      pre
        code.
          &lt;input type="number" name="amount" min="5" max="50" step="5"&gt;
      p В мобильных браузерах при фокусе на такое поле появляется клавиатура, позволяющая вводить соответствующие символы.
      h4 Выбор из диапазона.
      p Поле с типом #[b range] выглядит как шкала с ползунком и позволяет выбрать число из некоторого интервала значений.
      p Атрибуты #[b min] и #[b max] устанавливают нижнюю и верхнюю границу допустимых значений, а атрибут #[b step] устанавливает величину шага изменения значения.
      pre
        code.
          &lt;input type="range" name="dayscount" min="1" max="14" step="1"&gt;
      h4 Поле ввода телефона.
      p Для ввода телефонных номеров предназначены поля с типом #[b tel].
      pre
        code.
          &lt;input type="tel" name="tel" pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}"&gt;
      p В мобильных браузерах при фокусе на такое поле появляется клавиатура, позволяющая вводить только цифры и символы телефонных номеров.
      h4 Поля ввода адресов сайтов и email.
      p Поля #[b email] и #[b url], предназначены для ввода электронной почты и адреса сайта. Особенностью этих полей является то, что они автоматически проверяют формат введённых данных.
      pre
        code.
          &lt;input type="email" name="email"&gt;
          &lt;input type="url" name="url"&gt;
      p Внешне эти поля не отличаются от обычных текстовых полей, но обладают важной особенностью, которая очень полезна на мобильных устройствах. Когда вы начинаете заполнять такое поле на мобильнике, там автоматически переключается раскладка клавиатуры. Например, для #[b email] отобразятся латинские символы, цифры, знак #[b @] и некоторые другие.
      h4 Чекбокс.
      p Чекбокс — это тег #[b &lt;input&gt;] с типом #[b checkbox].
      p Чекбокс работает по принципу «либо да, либо нет». Если чекбокс включен, то браузер посылает переменную c именем поля на сервер, а если выключен, то не посылается ничего. Таким образом, атрибут #[b value] не является обязательным.
      p В атрибуте #[b value] можно задать значение, которое будет передаваться при отправке данных, если чекбокс включен. По умолчанию значением каждого включенного флажка будет #[b on].
      p Чтобы сделать чекбокс включённым по умолчанию, нужно добавить к тегу атрибут #[b checked].
      pre
        code.
          &lt;input type="checkbox" name="subscribe" checked&gt;
      p Чекбокс не подразумевает выбор одного элемента из нескольких. Поэтому если в одной форме есть несколько чекбоксов, то имена у них должны быть разными.
      p Если чекбоксы имеют одинаковое имя, то данные придут в виде массива значений.
      h4 Радиокнопка.
      p Радиокнопка — это тег #[b &lt;input&gt;] с типом #[b radio].
      p Обычно радиокнопки размещают группами по несколько штук. Причём у радиокнопок из одной группы должно быть одинаковое имя и разные значения, которые задаются с помощью атрибута #[b value].
      p Таким образом, атрибут #[b value] является для радиокнопок обязательным. Браузер отправляет на сервер значение #[b value] выбранной радиокнопки.
      pre
        code.
          &lt;form action="https://echo.htmlacademy.ru/courses" method="post"&gt;
            &lt;p&gt;Как зовут кота-программиста?&lt;/p&gt;
            &lt;label&gt;
              &lt;input type="radio" name="question-1" value="Кекс"&gt; Кекс
            &lt;/label&gt;
            &lt;label&gt;
              &lt;input type="radio" name="question-1" value="Хекс"&gt; Хекс
            &lt;/label&gt;
            &lt;input type="submit" value="Отправить"&gt;
          &lt;/form&gt;
      p Подобным образом можно создавать группы радиокнопок с любым количеством вариантов.
      p Чтобы сделать какой-либо вариант в группе выбранным по умолчанию, нужно добавить к соответствующему тегу #[b &lt;input&gt;] атрибут #[b checked], как у чекбокса.
      h4 Поля для ввода даты и времени.
      p Для выбора даты из календаря существует новый тип поля ввода — #[b date]. При клике на данное поле всплывает календарь.
      pre
        code.
          &lt;input type="date" name="date"&gt;
      p Тип поля ввода #[b time] предназначен для выбора времени. Обычно браузеры отображают его в виде электронных часов.
      pre
        code.
          &lt;input type="time" name="time"&gt;
      h5 Другие поля для ввода даты.
      ul
        li #[b datetime-local] — выбор даты с указанием времени (без учёта временной зоны).
        li #[b week] — выбор порядкового номера недели в году и года.
        li #[b month ] — выбор месяца и года.
      p Если браузер не поддерживает эти поля, то вместо них отображаются обычные текстовые поля.
      h4 Поле выбора цвета.
      p Поле с типом #[b color], предназначено для выбора цвета. При клике на такое поле появляется окно с возможностью выбрать цвет из палитры.
      p Пример:
      pre
        code.
          &lt;input type="color" name="color"&gt;
      p Если браузер не поддерживает поле для выбора цвета, то вместо него отображается обычное текстовое поле.
      h4 Поле для загрузки файлов.
      p Поле для загрузки файлов — это тег  #[b &lt;input&gt;] с типом #[b file]. Для этого поля обязательным атрибутом является имя.
      p #[strong Чтобы поле заработало и браузер смог передать выбранный файл на сервер, необходимо добавить форме атрибут #[b enctype] со значением #[b multipart/form-data]].
      p Этот атрибут указывает браузеру, в каком виде пересылать данные. Если вы хотите отправить на сервер файл, данные из формы эффективнее всего передавать по частям. За это и отвечает значение #[b multipart/form-data].
      p Пример:
      pre
        code.
          &lt;form action="https://echo.htmlacademy.ru/courses" method="post" enctype="multipart/form-data"&gt;
            &lt;p&gt;Выберите изображение для своего аватара:&lt;/p&gt;
            &lt;input type="file" name="avatar"&gt;
            &lt;input type="submit" value="Загрузить"&gt;
          &lt;/form&gt;
      p Внешний вид полей с типом #[b file] очень сильно отличается в зависимости от операционной системы и очень плохо изменяется с помощью стилей.
      h4 Поле поиска.
      p Поле поиска это тег  #[b &lt;input&gt;] с типом #[b search].
      pre
        code.
          &lt;input type="search" name="query"&gt;
      p Это поле почти не отличается от обычного текстового поля. В некоторых браузерах внутри него появляется крестик для сброса введённого значения.
      h4 Скрытое поле.
      p Скрытое поле — это тег #[b &lt;input&gt;] с типом #[b hidden].
      p Скрытое поле — невидимое, но очень полезное. Его используют, когда в форме нужно отправить какие-то дополнительные служебные данные, которые не вводятся пользователем. Например, это могут быть реквизиты заказа или номер пользователя в форме оплаты.
      pre
        code.
          &lt;input type="hidden" name="account_number" value="15"&gt;
      h3 Тег textarea, многострочное поле ввода.
      p Многострочное текстовое поле создаётся с помощью парного тега #[b &lt;textarea&gt;&lt;/textarea&gt;]. У него есть атрибуты #[b name] и #[b id], которые аналогичны атрибутам тега #[b &lt;input&gt;].
      p Атрибут #[b rows] принимает целочисленное значение и задаёт высоту многострочного поля в строках. Атрибут #[b cols] задаёт ширину поля в символах. В качестве ширины символа берётся некоторая «усреднённая ширина».
      p Атрибут #[b value] у многострочного поля отсутствует, а значение по умолчанию задаётся по-другому. Текст, расположенный между открывающим и закрывающим тегом #[b &lt;textarea&gt;&lt;/textarea&gt;] и является значением по умолчанию.
      pre
        code.
          &lt;textarea name="comment" rows="10"&gt;Текст комментария&lt;/textarea&gt;
      h3 Тег select, раскрывающийся список.
      p Раскрывающийся список так же, как и радиокнопки, позволяет выбрать один вариант ответа из нескольких.
      p Раскрывающийся список создаётся с помощью тега #[b &lt;select&gt;&lt;/select&gt;].
      p Варианты ответов задаются с помощью тегов #[b &lt;option&gt;&lt;/option&gt;], которые должны располагаться внутри тега #[b &lt;select&gt;&lt;/select&gt;]. Например:
      pre
        code.
          &lt;select name="theme"&gt;
            &lt;option value="light"&gt;Светлая тема&lt;/option&gt;
            &lt;option value="dark"&gt;Тёмная тема&lt;/option&gt;
            ...
          &lt;/select&gt;
      p В атрибуте #[b value] тега #[b &lt;option&gt;&lt;/option&gt;], задаётся значение варианта ответа, а внутри этого тега располагается подпись варианта ответа.
      p Если при отправке формы у выбранного варианта задан #[b value], то на сервер отправится значение этого атрибута. В противном случае будет отправлен текст подписи.
      p Первый пункт списка часто используется вместо заголовка выпадающего списка. В таком случае для него используют атрибут #[b disabled], чтобы заблокировать его для выбора.
      h4 Мультиселект.
      p Раскрывающийся список можно превратить в так называемый «мультиселект», то есть список, в котором можно выбрать не один, а несколько вариантов.
      p Чтобы сделать это, нужно добавить тегу #[b &lt;select&gt;&lt;/select&gt;] атрибут #[b multiple].
      p Выбрать несколько вариантов можно, щёлкая по ним с зажатой клавишей Ctrl на Windows или Command на MacOS.
      p Высоту мультиселекта можно изменять с помощью атрибута #[b size] тега #[b &lt;select&gt;&lt;/select&gt;].
      p Чтобы отметить как выбранные по умолчанию одно или несколько значений, нужно к соответствующим тегам #[b &lt;option&gt;&lt;/option&gt;] добавить атрибут #[b selected].
      p Пример:
      pre
        code.
          &lt;select name="seasons" size="4" multiple&gt;
            &lt;option value="spring"&gt;Весна&lt;/option&gt;
            &lt;option value="summer"&gt;Лето&lt;/option&gt;
            &lt;option value="autumn"&gt;Осень&lt;/option&gt;
            &lt;option value="winter" selected&gt;Зима&lt;/option&gt;
          &lt;/select&gt;
      p При отправке данных мультиселекта на сервер с PHP после имени в значении атрибута name ставятся символы квадратных скобок #[b &#91;&#93;]. Например, #[b  &lt;select name="days&#91;&#93;"&gt;&lt;/select&gt;]. Это необязательное требование для имени мультиселекта, а нужно только для корректной обработки данных в PHP.
      h4 Группировка элементов списка.
      p Так как список может быть довольно большим, в теге #[b &lt;select&gt;&lt;/select&gt;] имеется возможность объединять #[b &lt;option&gt;&lt;/option&gt;] в группы. Обычно это используется для большей наглядности и удобства поиска нужного варианта.
      p Для формирования группы используется тег #[b &lt;optgroup&gt;&lt;/optgroup&gt;]. Атрибут #[b label] этого тега определяет заголовок группы.
      p Пример:
      pre
        code.
          &lt;select name="variants"&gt;
            &lt;optgroup label="Группа вариантов 1"&gt;
              &lt;option value="1"&gt;Вариант 1&lt;/option&gt;
              &lt;option value="2"&gt;Вариант 2&lt;/option&gt;
              &lt;option value="3"&gt;Вариант 3&lt;/option&gt;
            &lt;/optgroup&gt;
            &lt;optgroup label="Группа вариантов 2"&gt;
              &lt;option value="4"&gt;Вариант 4&lt;/option&gt;
              &lt;option value="5"&gt;Вариант 5&lt;/option&gt;
              &lt;option value="6"&gt;Вариант 6&lt;/option&gt;
            &lt;/optgroup&gt;
          &lt;/select&gt;
      p Вложенность групп не ограничена, внутрь каждой группы можно вложить другие группы.
      p Аналогично можно группировать элементы и в списках со множественным выбором.
      h2 Настройка полей формы.
      h3 Паттерны значений полей.
      p Чтобы добавить автоматическую проверку формата данных в поле, используется атрибут #[b pattern], в котором с помощью регулярного выражения описывается требуемый формат.
      p Пример:
      pre
        code.
          &lt;input type="text" name="passport" pattern="[0-9]{3}-[0-9]{5}"&gt;
      p Примеры допустимых значений: #[b 000-00000], #[b 123-45678], #[b 932-46432].
      p При попытке отправить форму с неправильно введёнными данными в поле, браузер выведет всплывающее предупреждение.
      h3 Подсказка при заполнении полей.
      p У полей, в которые вводятся текстовые значения (#[b &lt;textarea&gt;&lt;/textarea&gt;], разные типы #[b &lt;input&gt;]) есть возможность вывести подсказку. Для этого используется атрибут #[b placeholder]:
      pre
        code.
          &lt;input type="text" name="login" placeholder="Текст подсказки"&gt;
      p Текст подсказки выводится внутри текстового поля, а при вводе значения автоматически убирается.
      p #[b placeholder] может подсказывать в каком именно формате следует ввести номер:
      pre
        code.
          &lt;input type="tel" name="tel" pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}" placeholder="Формат номера: X-XXX-XXX"&gt;
      p Управлять внешнем видом подсказки можно с помощью псевдоэлемента #[b ::placeholder].
      h3 Список возможных значений.
      p Для текстовых полей можно заранее определить список возможных значений, которые отображаются, когда вы начинаете вводить текст в поле. Для этого существует специальный тег #[b &lt;datalist&gt;&lt;/datalist&gt;].
      p Пример:
      pre
        code.
          &lt;input type="text" name="browser" list="browsers"&gt;
          &lt;!-- Список возможных значений --&gt;
          &lt;datalist id="browsers"&gt;
            &lt;option value="Firefox"&gt;&lt;/option&gt;
            &lt;option value="Chrome"&gt;&lt;/option&gt;
            &lt;option value="Safari"&gt;&lt;/option&gt;
          &lt;/datalist&gt;
      p Связывание текстового поля и списка осуществляется при помощи атрибута #[b list] у тега #[b &lt;input&gt;] — значение #[b list] должно быть таким же, как значение атрибута #[b id] у списка.
      p Если тег #[b &lt;input&gt;] имеет специфический тип, например #[b email] или другие, то в списке отображаются только корректные для данного типа значения.
      h3 Обязательные поля.
      p Чтобы указать, что поле обязательно для заполнения, нужно добавить ему пустой атрибут #[b required]:
      pre
        code.
          &lt;input type="text" name="login" required&gt;
      p При попытке отправить форму с незаполненными обязательными полями браузер выведет всплывающее предупреждение.
      p Эта проверка работает на клиентской части и упрощает валидацию форм. Но всегда нужно проверять отправленные данные и на стороне сервера.
      h3 Запрет редактирования полей.
      p Иногда возникают ситуации, когда какие-то поля требуется сделать недоступными для редактирования.
      p Есть два способа: использование атрибута #[b readonly] и использование атрибута #[b disabled].
      p Атрибут #[b readonly] не даёт пользователю изменять поле (вводить новый текст, модифицировать существующий). Введённое значение можно выделить и скопировать. Данные из этого поля отправляются на сервер.
      p Атрибут #[b disabled] не даёт пользователю изменять поле (вводить новый текст, модифицировать существующий). Нельзя поставить фокус в это поле, введённое значение нельзя выделять и копировать. Данные из этого поля не отправляются на сервер.
      h2 Группировка полей формы.
      p Когда формы становятся очень большими, возникает потребность зрительно отделить одни поля от других. Для группировки полей используется тег #[b &lt;fieldset&gt;&lt;/fieldset&gt;].
      p Пример:
      pre
        code.
          &lt;fieldset&gt;
            &lt;input type="text"&gt;
            &lt;input type="text"&gt;
            &lt;input type="text"&gt;
          &lt;/fieldset&gt;
          &lt;fieldset&gt;
            &lt;textarea&gt;&lt;/textarea&gt;
          &lt;/fieldset&gt;
      p По умолчанию браузеры отображают результат в виде рамки вокруг этой группы полей, но при помощи CSS можно изменить его внешний вид.
      p Для каждой группы можно добавить заголовок, поместив тег #[b &lt;legend&gt;&lt;/legend&gt;] внутрь тега #[b &lt;fieldset&gt;&lt;/fieldset&gt;]:
      pre
        code.
          &lt;fieldset&gt;
            &lt;legend&gt;Заголовок группы&lt;/legend&gt;
            &lt;input type="text"&gt;
          &lt;/fieldset&gt;
      h2 Подписи для полей ввода.
      p Для повышения удобства работы с формой создают подписи. При нажатии на такие подписи активируется связанное поле.
      h3 Создание подписи. Способ  № 1.
      p Первый способ создать подпись — просто обернуть текст подписи и тег поля в тег #[b &lt;label&gt;&lt;/label&gt;], вот так:
      pre
        code.
          &lt;label&gt;
            Подпись &lt;input type="text" name="login"&gt;
          &lt;/label&gt;
      p Тег #[b &lt;label&gt;&lt;/label&gt;] связывает текст и поле ввода логически. А ещё если нажать на текст в такой подписи, то курсор переместится в соответствующее поле.
      p Надо отметить, что при оборачивании текста в этот тег он визуально никак не меняется, ведь главная задача подписи — создать логическую связь.
      h3 Способ  № 2. Связь по id.
      p Иногда обернуть поле и текст подписи в тег #[b &lt;label&gt;&lt;/label&gt;] нельзя. Например, когда они размещены в разных ячейках таблицы.
      p В этом случае можно связать подпись с полем с помощью атрибута #[b id]. Алгоритм такой:
      ol
        li Добавляем к полю ввода идентификатор с помощью атрибута #[b id].
        li Оборачиваем текст подписи в тег #[b &lt;label&gt;&lt;/label&gt;].
        li Добавляем тегу #[b &lt;label&gt;&lt;/label&gt;] атрибут #[b for].
        li В атрибут #[b for] записываем такое же значение, что и в атрибуте #[b id] у поля.
      p Например:
      pre
        code.
          &lt;label for="login-field"&gt;Имя пользователя&lt;/label&gt;
          ...
          &lt;input id="login-field" type="text" name="login"&gt;
      p Идентификатор, в отличие от имени поля, не передаётся на сервер. Лучше использовать идентификаторы, отличающиеся от имени поля, это особенно актуально для полей множественного выбора.
      p Также идентификаторы используют в JavaScript для работы с полями.
      h2 Автофокус.
      p При загрузке страницы можно сообщить браузеру в какое поле установить курсор по умолчанию. Для этого используется пустой атрибут #[b autofocus].
      p Пример:
      pre
        code.
          &lt;input type="search" name="search" autofocus&gt;
      p Автофокус улучшает процесс работы с формами, ведь пользователь избавляется от лишних щелчков мышки там, где они не нужны, и может сразу начинать вводить текст в поле.
      p #[strong Этот атрибут может быть только у одного поля на странице].
      h2 Переключение между полями.
      p При нажатии клавиши Tab браузер передаёт управление (фокус) от одного элемента к другому в том порядке, в котором они были объявлены на странице. Этим порядком можно управлять при помощи атрибута  #[b tabindex].
      p Пример:
      pre
        code.
          &lt;input type="text" tabindex="3"&gt;
      p В качестве значения может использоваться любое целое число. Значения выстраиваются последовательно, и переход между элементами происходит от меньшего значения к большему.
      p Если представлено отрицательное значение — элемент может быть выделен, однако не участвует в последовательной навигации.
      p Если представлен #[b 0] — элемент может быть выделен и достигнут с помощью последовательной навигации, однако порядок навигации определён платформой.
      p Из соображений доступности не рекомендуется менять порядок навигации по полям ввода по умолчанию.
      h2 Управление автозаполнением полей.
      p Браузер может запоминать значения, вводимые в текстовые поля. При вводе первых букв текста выводится список сохранённых ранее значений, из которого можно выбрать подходящее. Параметрами автозаполнения можно управлять, используя атрибут #[b autocomplete].
      p Он может принимать два значения: #[b on] и #[b off]. Первое включает автозаполнение, второе — отключает. Отключение автозаполнения обычно используется из соображений безопасности, например, чтобы не сохранялись пароли, номера банковских карт и так далее.
      p Пример:
      pre
        code.
          &lt;input type="text" name="passport" autocomplete="off"&gt;
      p Значение по умолчанию зависит от настроек браузера.
      h2 Технология localStorage.
      p Суть #[b localStorage] или «локального хранилища» заключается в том, что в него можно записывать данные, которые будут сохраняться в браузере. Эти данные не исчезнут, даже если вы закроете браузер и откроете его снова или уйдёте со страницы и потом вернётесь на неё.
      p Получается, что можно сохранять данные из формы в хранилище при работе с формой, а при загрузке страницы проверять хранилище на наличие данных, и если они есть, то подставлять в форму. Таким образом, можно предотвратить потерю данных при работе с формами.
      pre
        code.
          &lt;script&gt;
            if (window.localStorage) {
              let elements = document.querySelectorAll("[name]");

              for (let i = 0, length = elements.length; i < length; i++) {
                (function(element) {
                  let name = element.getAttribute("name");

                  element.value = localStorage.getItem(name) || element.value;

                  element.onkeyup = function() {
                    localStorage.setItem(name, element.value);
                  };
                })(elements[i]);
              }
            }
          &lt;/script&gt;
      h2 Тег output, область для вывода результата.
      p Тег #[b &lt;output&gt;&lt;/output&gt;] представляет собой область, куда выводятся какие-либо результаты вычислений, обычно полученные при помощи JavaScript.
      p Можно задать значение по умолчанию.
      p Пример:
      pre
        code.
          &lt;output name="sum"&gt;значение по умолчанию&lt;/output&gt;
      p В область #[b &lt;output&gt;&lt;/output&gt;] можно выводить значения каких-либо полей формы, добавив обработчик #[b oninput] как атрибут формы:
      pre
        code.
          &lt;form action="https://echo.htmlacademy.ru/courses" method="post" oninput="daysoutput.value=dayscount.value"&gt;
            &lt;input type="range" name="dayscount" min="1" max="14" step="1"&gt;
            &lt;output name="daysoutput"&gt;&lt;/output&gt;
          &lt;/form&gt;
      h2 Кнопки.
      h3 Устаревшие способы создания кнопок.
      h4 Кнопка отправки формы.
      p Кнопка для отправки формы создаётся с помощью тега #[b &lt;input&gt;] с типом #[b submit].
      p Надпись на кнопке можно задать с помощью атрибута #[b value]. Для кнопки отправки формы задавать имя не обязательно. Но если имя задано, то на сервер будут отправляться имя и значение кнопки.
      p Обычно имя для кнопки отправки задают, когда в форме несколько кнопок, отвечающих за разные действия. Браузер отправляет на сервер имя и значение только той из них, на которую нажал пользователь. Таким образом, сервер может понять, какую кнопку нажали и что нужно сделать.
      p Пример:
      pre
        code.
          &lt;input type="submit" value="Войти"&gt;
      h4 Кнопка-изображение.
      p В качестве кнопки отправки формы можно использовать изображение. Для этого у тега #[b &lt;input&gt;] нужно указать тип #[b image].
      p Аналогично обычным изображениям на сайте у кнопки-изображения есть ещё два атрибута:
      ul
        li #[b src] — адрес изображения.
        li #[b alt] — альтернативный текст, отображаемый в том случае, если изображение не загружено.
      p Пример:
      pre
        code.
          &lt;input type="image" src="enter.png" alt="Войти"&gt;
      p Кнопка-изображение работает аналогично кнопке #[b submit], но на сервер дополнительно передаются координаты точки, по которой был произведён клик.
      h4 Сброс введённых значений.
      p В HTML-формах есть специальная кнопка, которая сбрасывает введённые значения и возвращает те, которые были установлены в полях формы по умолчанию. Это поле ввода с типом #[b reset]:
      pre
        code.
          &lt;input type="reset" value="Сбросить"&gt;
      h4 Простая кнопка.
      p Помимо кнопок отправки формы или сброса введённых значений, существуют и «просто кнопки». При нажатии на такую кнопку никаких действий не происходит, а все необходимые действия обычно задаются при помощи JavaScript.
      p Пример:
      pre
        code.
          &lt;input type="button" value="Кнопка"&gt;
      h3 Современный вариант задания кнопок.
      p Помимо тега #[b &lt;input&gt;] для добавления кнопок можно использовать тег #[b &lt;button&gt;&lt;/button&gt;]. Он расширяет возможности создания кнопок.
      P Внутри тега #[b &lt;button&gt;&lt;/button&gt;] можно размещать любые HTML-элементы, в том числе изображения. Например:
      pre
        code.
          &lt;button&gt;Календарь &lt;img src="calendar.png" alt=""&lgt;&lt;/button&gt;
      p В данном случае кнопка будет выглядеть примерно вот так:
      p
        img(src='../../img/calendar-button.png' width='127' height='35' alt='')
      p Если в атрибуте #[b type] тега #[b &lt;button&gt;&lt;/button&gt;] указать значение #[b submit] или #[b reset], то кнопка внутри формы будет отправлять данные на сервер или сбрасывать введённые значения.
      p По умолчанию значение атрибута #[b type] — #[b submit].
      p А вот #[b type="button"] избавит кнопку от всей изначальной функциональности. То есть кнопка будет выглядеть как кнопка, но ничего по умолчанию не делать. Это удобно, если вы хотите сами добавить кнопке дополнительное действие с помощью JavaScript.
      h2 Стилизация полей формы.
      p По умолчанию поля форм не наследуют цвет и параметры шрифта.
      h3 Стилизация чекбоксов и радиокнопок.
      p Сами по себе чекбоксы и радиокнопки стилизуются очень тяжело. Но поля форм можно прятать, а их состояние передавать в соседние #[b label], задавая подписям разные фоны или другие стили в зависимости от состояния полей. То есть внешний вид поля рисуется внутри #[b label], иногда с помощью псевдоэлементов.
      p Пример:
      pre
        code.
          input[type="radio"] + label { ... }
          input[type="radio"]:checked + label { ... }
          input[type="radio"]:disabled + label { ... }
