extends ../../layout/layout

block variables
  - var title = 'Основы HTML'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn HTML (HyperText Markup Language)] — язык гипертекстовой разметки.
      p #[dfn Гипертекст] — это документы, связанные между собой ссылками.
      p HTML отвечает за структуру и содержание страницы.
      p HTML-разметка страницы пишется по определённым правилам, которые описываются в специальных документах — спецификациях. Следование этим правилам называют семантикой.
      p #[a(href='https://html.spec.whatwg.org/multipage' target='_blank' rel='nofollow noopener') Спецификация HTML Living Standard].
      p В процессе разметки страницы все содержательные сущности документа размечаются подходящими по смыслу тегами. Декоративные (не содержательные) сущности в разметку входить не должны.
      p Правильно выполненная разметка делает внутреннюю структуру прозрачной и читаемой как для самого верстальщика, так и для его коллег, и для поисковых роботов, и для инструментов, помогающих при работе с сайтами — ридеров, «читалок» и прочих.
      h2 Тип документа
      p Каждый HTML-документ начинается с декларации типа документа (document type) или «доктайпа». Тип документа необходим, чтобы браузер мог определить версию HTML и правильно отобразить страницу.
      p Для старой версии HTML доктайп выглядел так:
      pre
        code.
          &lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3c.org/TR/html4/strict.dtd"&gt;
      p А для современной версии HTML уже намного проще:
      pre
        code.
          &lt;!DOCTYPE html&gt;
      h2 Теги
      p HTML состоит из тегов.
      p Теги бывают парными и одиночными.
      p Одиночные теги состоят из имени тега, заключённого между знаками #[b &lt;] («меньше») и #[b &gt;] («больше»).
      pre
        code.
          &lt;тег&gt;
      p У парных тегов, в отличие от одиночных, есть вторая половинка — закрывающий тег. В закрывающих тегах перед именем ставится символ #[b /] («слэш»).
      pre
        code.
          &lt;тег&gt;&lt;/тег&gt;
      p Парные теги могут содержать текст и другие теги.
      p #[strong Не все теги можно вкладывать в другие теги. Например, #[b &lt;h1&gt;&lt;h1&gt;] нельзя вкладывать в #[b &lt;p&gt;&lt;p&gt;].]
      p У вложенных тегов всегда нужно следить за правильным порядком закрытия. Вложенный тег не может закрываться позже родительского.
      p Помимо этого теги имеют блочный или строчный тип бокса. Теги с блочным боксом занимают всю ширину экрана, а со строчным — только некоторую её часть в зависимости от своего размера.
      p Теги с блочным боксом нельзя вкладывать в теги со строчным.
      h3 Проверка валидности
      p #[a(href='https://validator.w3.org/nu' target='_blank' rel='nofollow noopener') Валидатор W3C] — специальный сервис для проверки (валидации) HTML-кода.
      p Он проверяет код на формальные, строгие правила: правильно ли закрыты теги, правильно ли они вложены и так далее.
      h3 Классификация тегов
      p Существует два основных типа тегов:
      ul
        li #[b Metadata] — мета-теги
        li #[b Flow] — поточные элементы (все теги, кроме метагегов)
      p Внутри #[b Flow] выделяют подкатегории:
      ul
        li #[b Heading] — заголовочные теги
        li #[b Sectioning] — теги для крупных смысловых разделов
        li #[b Phrasing] — фразовые теги
        li #[b Embedded] — встраиваемый контент (аудио, изображения, видео и т.д.)
        li #[b Interactive] — интерактивные элементы (кнопки, ссылки)
      p Элементы могут относиться к нескольким категориям.
      h3 Атрибуты тегов
      p Значение атрибута указывается в кавычках после знака #[b =] («равно»).
      p У тегов может быть один или несколько атрибутов. Если атрибутов несколько, то они пишутся через пробел.
      pre
        code.
          &lt;тег атрибут1="значение" атрибут2="значение"&gt;
      h2 Комментарии
      p Код, заключённый между символами #[b &lt;!--] и #[b --&gt;] считается комментарием и работать не будет. Если эти символы удалить, то код заработает, это называется «раскомментировать».
      pre
        code.
          &lt;!-- Это комментарий в HTML --&gt;
      p С помощью комментариев обычно временно отключают какой-то код или оставляют подсказки и разъяснения.
      h2 Основные теги HTML
      p Простейшая HTML-страница состоит как минимум из 3 тегов: #[b &lt;html&gt;&lt;/html&gt;], #[b &lt;head&gt;&lt;/head&gt;] и #[b &lt;body&gt;&lt;/body&gt;].
      pre
        code.
          &lt;!DOCTYPE html&gt;
          &lt;html&gt;
            &lt;head&gt;&lt;/head&gt;
            &lt;body&gt;&lt;/body&gt;
          &lt;/html&gt;
      h3 Тег htlm
      p Тег #[b &lt;html&gt;&lt;/html&gt;] располагается в документе сразу после доктайпа и содержит все остальные теги, включая #[b &lt;head&gt;&lt;/head&gt;] и #[b &lt;body&gt;&lt;/body&gt;].
      p У тега #[b &lt;html&gt;&lt;/html&gt;] есть важный атрибут — #[a(href='../html-attributes/lang.html') lang], в котором задаётся язык документа.
      p Примеры:
      pre
        code.
          &lt;html lang="ru"&gt;&lt;/html&gt; &lt;!-- Русский язык --&gt;
          &lt;html lang="en"&gt;&lt;/html&gt; &lt;!-- Английский язык --&gt;
      h3 Тег head, служебная информация о странице
      p Тег #[b &lt;head&gt;&lt;/head&gt;] предназначен для хранения служебной информации о странице, Он располагается первым в теге #[b &lt;html&gt;&lt;/html&gt;] сразу перед #[b &lt;body&gt;&lt;/body&gt;].
      p Внутри #[b &lt;head&gt;&lt;/head&gt;] обычно содержится заголовок, ключевые слова, описание страницы и другие служебные данные. Также внутри него подключаются внешние ресурсы, например, стили. Содержимое этого тега не отображается на странице напрямую.
      h3 Тег body, содержимое страницы
      p В теге #[b &lt;body&gt;&lt;/body&gt;] хранится содержимое страницы, которое отображается в окне браузера. Все тексты и картинки добавляются внутрь #[b &lt;body&gt;&lt;/body&gt;].
      h2 Методика написания семантической разметки
      ol
        li Выделение крупных смысловых блоков на каждой странице сайта.
        li Разметка в блоках крупных смысловых разделов.
        li Выделение заголовка всего документа и заголовков смысловых разделов.
        li Разметка мелких элементов в смысловых разделах.
        li Разметка фразовых элементов.
