extends ../../layout/layout

block variables
  - var title = 'Сетка на инлайн-блоках'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Особенности блочно-строчных элементов позволяют использовать их для построения сеток, но при этом нужно учитывать, что блочно-строчные элементы ведут себя как текст, поэтому если в коде между ними есть пробел, то он отображается и на странице, в виде отступов между элементами.
      p Бороться с такими пробелами можно несколькими способами:
      ul
        li Удалять пробелы в коде.
        li Обнулять размер шрифта.
        li Подбирать внешние отступы после блочно-строчного элемента.
      p У каждого из способов есть свои недостатки.
      p Способ со шрифтом заключается в том, что мы задаём нулевой размер шрифта у контейнера инлайн-блоков, а самим инлайн-блокам задаём исходный размер шрифта. Способ не работает, если используются относительные размеры шрифта.
      p Способ с внешними отступами заключается в том, что мы уменьшаем отступ после инлайн-блока на ширину пробела (около 4–5px). А если нам нужно, чтобы элементы стояли вплотную друг к другу, то задаём отрицательный отступ. Проблема с этим способом заключается в том, что размер пробела может быть разным в разных шрифтах и может изменяться при изменении размера шрифта.
