extends ../../layout/layout

block variables
  - var title = 'Крупные смысловые блоки.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Обычно содержимое каждой страницы разделено на 3 крупных смысловых блока: «шапку», основное содержимое и «подвал».
      h2 Тег main, основное содержимое.
      p Тег #[b &lt;main&gt;&lt;/main&gt;] выделяет основное содержание страницы, которое не повторяется на других страницах.
      pre
        code.
          &lt;main&gt;
            Привет, я основной контент! Живу только на этой странице.
          &lt;/main&gt;
      p Обычно на странице используется только один #[b &lt;main&gt;&lt;/main&gt;].
      p Спецификация не допускает использование на одной странице более одного тега #[b &lt;main&gt;&lt;/main&gt;]. Исключением является случай, когда в один момент времени отображается только один тег #[b &lt;main&gt;&lt;/main&gt;], а содержимое остальных скрыто с помощью атрибута #[b hidden].
      p Этот атрибут добавляется HTML-элементу, например, в одностраничных приложениях (Single Page Application), чтобы менять содержимое страницы, делая видимой тот или иной #[b &lt;main&gt;&lt;/main&gt;] в разных состояниях приложения.
      h2 Теги header и footer, шапка и подвал.
      p Кроме уникального основного содержимого, есть вводная и заключительная части, которые повторяются на других страницах.
      p Вводную часть страницы, которую чаще называют «шапкой», описывает тег #[b &lt;header&gt;&lt;/header&gt;]. Заключительную часть страницы, или «подвал», описывает тег #[b &lt;footer&gt;&lt;/footer&gt;].
      pre
        code.
          &lt;header&gt;
            Я шапка сайта. Могу повторяться на других страницах.
          &lt;/header&gt;
          &lt;main&gt;
            Я основной контент! Живу только на этой странице.
          &lt;/main&gt;
          &lt;footer&gt;
            Я подвал сайта, я как шапка.
          &lt;/footer&gt;
      p Обычно страница содержит по одному тегу #[b &lt;header&gt;&lt;/header&gt;] и #[b &lt;footer&gt;&lt;/footer&gt;], но их может быть и больше.
      p Тег #[b &lt;header&gt;&lt;/header&gt;] — это не только шапка сайта с логотипом и меню, он может использоваться и как «шапка» какой-нибудь статьи или раздела сайта. Конечно, в случае со статьёй #[b &lt;header&gt;&lt;/header&gt;] называют не «шапкой», а вводной частью, в которой могут содержаться заголовки, оглавление и так далее.
      p С #[b &lt;footer&gt;&lt;/footer&gt;] ситуация аналогичная. В привычном понимании это подвал сайта, с копирайтами, контактной информацией и так далее. Но #[b &lt;footer&gt;&lt;/footer&gt;] может использоваться и в других разделах сайта. Например, внутри статьи в «подвале» можно разместить дополнительную информацию: данные об авторе, дополнительные ссылки и так далее.
      p #[strong #[b &lt;footer&gt;&lt;/footer&gt;], несмотря на прижившееся название, «подвал» не обязательно помещается внизу – он может быть там, где он семантичен, даже прямо под заголовком.]
