extends ../../layout/layout

block variables
  - var title = 'Медиа-запросы.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[i Медиа-запросы] позволяют применить стили в зависимости от характеристик браузера.
      p Синтаксис:
      pre
        code.
          @media (условие) {
            ...
          }
      h2 Характеристики.
      p Современные устройства имеют множество характеристик.
      p Примеры характеристик:
      ul
        li #[b min-resolution: 2dppx] — минимальная плотность пикселей от #[b 2dppx].
        li #[b min-width: 1024px] — минимальная ширина вьюпорта #[b 1024px].
        li #[b width: 1024px] — ширина вьюпорта #[b 1024px].
        li #[b max-width: 1024px] — максимальная ширина вьюпорта #[b 1024px].
        li #[b min-height: 1024px] — минимальная высота вьюпорта #[b 1024px].
        li #[b height: 1024px] — высота вьюпорта #[b 1024px].
        li #[b max-height: 1024px] — максимальная высота вьюпорта #[b 1024px].
      h2 Операторы.
      p Медиавыражения поддерживают логические операторы #[b and] и #[b or].
      p Пример использования #[b and]:
      pre
        code.
          @media (min-width: 768px) and (max-width: 1024px) {
            ...
          }
      p Запись условий через запятую равнозначна ипользованию #[b or]:
      pre
        code.
          @media (max-width: 1024ppx), (min-resolution: 2dppx) {
            ...
          }
