extends ../../layout/layout

block variables
  - var title = 'Позиционирование.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p CSS-свойство #[b position] задаёт режим позиционирования элементов. Значением по умолчанию является #[b static], которое обозначает «обычное позиционирование». Элементы с другими значениями этого свойства называются позиционируемыми и их конечное местоположение определяется свойствами #[b top], #[b right], #[b bottom] и #[b left]. Позиционируемые элементы могут перекрывать элементы с обычным позиционированием.
      h2 Относительное позиционирование.
      p Значение #[b relative] свойства #[b position] обозначает «относительное позиционирование».
      p Относительно позиционированный элемент можно перемещать относительно его исходного положения:
      ul
        li #[b top] — смещение вниз.
        li #[b right] — смещение влево.
        li #[b bottom] — смещение вверх.
        li #[b left] — смещение вправо.
      p Отрицательные значения этих свойств смещают элемент в противоположную сторону.
      p Пример:
      pre
        code.
          position: relative;
          bottom: 5px;
          left: -5px;
      p Относительно позиционированный элемент остаётся в потоке документа и остальные элементы не «замечают» его смещения.
      p В реальных проектах относительное позиционирование может использоваться для создания декоративных эффектов, хотя область применения намного шире.
      h2 Абсолютное позиционирование.
      p Значение #[b absolute] свойства #[b position] задаёт элементу абсолютное позиционирование.
      p Абсолютно позиционированные элементы обладают следующими особенностями:
      ul
        li Выпадают из потока документа. Место, которое они занимали, становится как бы пустым и его занимают соседние элементы.
        li Ширина по умолчанию зависит от содержимого, а не растягивается на всё доступное место.
        li Остаются на том же месте, где были, если не заданы значения свойств #[b top], #[b right], #[b bottom] и #[b left].
      p Абсолютное позиционирование изменяет поведение всех элементов: блочных, строчных, блочно-строчных и так далее. Например, если строчный элемент позиционирован абсолютно, то он ведёт себя точно так же, как и абсолютно позиционированный блочный и ему можно задавать размеры с помощью #[b width] и #[b height]. Можно сказать, что есть ещё один тип элементов — абсолютно-позиционированные.
      p Абсолютно позиционированный элемент позиционируется относительно ближайшего родительского элемента с позиционированием отличным от #[b static]. Если таких нет, то «абсолютный» элемент позиционируется относительно краёв браузера:
      ul
        li #[b top] — задаёт отступ от верхнего края окна браузера до своего верхнего края.
        li #[b right] — задаёт отступ от нижнего края окна браузера до своего нижнего края.
        li #[b bottom] — задаёт отступ от левого края окна браузера до своего левого края.
        li #[b left] — задаёт отступ от правого края окна браузера до своего правого края.
      p Отрицательные значения этих свойств могут сместить элемент за край окна. При смещении за правый или нижний края появляется полоса прокрутки.
      p Если одновременно задать значения противоположным свойствам, например, #[b right] и #[b left], то это растянет элемент между этими точками. Это альтернативный способ задать размеры абсолютно позиционируемому элементу.
      p На практике абсолютное позиционирование часто применяют в декоративных целях, когда нужно аккуратно разместить какие-либо иконки, управляющие элементы или другие «рюшечки».
      h3 Смещение «абсолютного» элемента относительно своего исходного положения.
      p Элемент с абсолютным позиционированием можно сместить относительно своего исходного положения с помощью свойства #[b margin].
      h2 Фиксированное позиционирование.
      p Значение #[b fixed] свойства #[b position] задаёт элементу фиксированное позиционирование.
      p Фиксированное позиционирование похоже на абсолютное, но есть отличия:
      ul
        li Фиксированный элемент тоже выпадает из потока.
        li Фиксированный элемент привязывается к определённой точке в окне браузера и остаётся на ней всегда, даже при прокрутке страницы.
        li Фиксированный элемент можно позиционировать с помощью свойств #[b top], #[b right], #[b bottom] и #[b left], но точка отсчёта всегда привязана к окну браузера.
      p Фиксированный элемент можно представить как стикер, который наклеен на монитор.
      p Такие элементы часто применяют для создания навигационных панелей, привязанных к верхней или нижней части окна браузера.
      h2 Липкое позиционирование.
      p Значение #[b sticky] свойства #[b position] задаёт элементу «липкое» позиционирование.
      p Особенности:
      ul
        li Липкий элемент не выпадает из потока.
        li При прокрутке страницы или блока, содержащего родительский блок липкого элемента, липкий элемент может перемещаться #[em в пределах области содержимого] родительского блока, стараясь оставаться в области просмотра.
        li Свойство #[b top] задаёт позицию относительно верхнего края окна браузера, на которой залипнет элемент при прокрутке вниз.
        li Свойство #[b bottom] задаёт позицию относительно нижнего края окна браузера, на которой залипнет элемент при прокрутке вверх.
        li Свойство #[b left] задаёт позицию относительно левого края окна браузера, на которой залипнет элемент при прокрутке вправо.
        li Свойство #[b right] задаёт позицию относительно правого края окна браузера, на которой залипнет элемент при прокрутке влево.
      h2 Возвращение позиционируемых элементов на исходное положение.
      p Когда значение свойств #[b top], #[b right], #[b bottom] и #[b left], не задано, оно равно #[b auto]. С помощью этого значения можно возвращать позиционируемые элементы на исходное положение.
      h2 Свойство z-index, расположение по оси Z.
      p Если в одном месте страницы оказывается несколько позиционируемых элементов, то они перекрывают друг друга. По умолчанию выше оказывается тот элемент, который расположен дальше в коде страницы.
      p Свойство #[b z-index] располагает элементы на оси Z, то есть позволяет вывести элементы на передний план или, наоборот, отодвинуть на задний.
      p Его значение можно представить как номер слоя, на котором располагается элемент. Значением по умолчанию является #[b auto], что соответствует «нулевому» слою. Чем больше #[b z-index], тем выше располагается блок.
      p Пример:
      pre
        code.
          z-index: 2;
      p #[b z-index] не учитывает вложенность, но учитывает контекст: если у какого-либо родителя задан #[b z-index], то все вложенные в него элементы будут располагаться внутри слоя родителя и перемещаться по оси Z только относительно друг друга и всегда внутри родительского элемента.
      p
        img(src='../../img/z-index.png' width='1000' height='923' alt='')
      p Кроме свойства #[b z-index] со значением отличным от #[b auto], к формированию своего контекста наложения у элемента, приводит применение таких свойств как #[b filter] (фильтр), #[b opacity] (непрозрачность) и #[b transform] (трансформация).
      p #[b z-index] действует не только на позиционируемые элементы, а также на флекс-элементы и грид-элементы.
