extends ../../layout/layout

block variables
  - var title = 'Растровая и векторная графика'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      h2 Растровая графика.
      p Растровое изображение, как мозаика, складывается из множества маленьких ячеек — пикселей, где каждый пиксель содержит информацию о цвете.
      p Растровая графика удобна для создания качественных фотореалистичных изображений, рисунков и фотографий.
      p Преимущества:
      ul
        li Возможность создать изображение любой сложности — с огромным количеством деталей и широкой цветовой гаммой.
      p Недостатки:
      ul
        li Большой объём занимаемой памяти: чем больше ширина и высота растрового изображения, тем больше в нём пикселей и, соответственно, тем больше места нужно для хранения/передачи такого изображения.
        li При изменении размера оригинального растрового изображения неизбежно произойдёт потеря качества (в результате процесса интерполяции).
      p Наиболее распространённые растровые форматы: JPEG, PNG.
      h2 Векторная графика.
      p Векторные изображения состоят из множества опорных точек и соединяющих их кривых, описанных с помощью математических формул.
      p Векторная графика используется для иллюстраций, иконок, логотипов и технических чертежей.
      p Преимущества:
      ul
        li Простые векторные изображения занимают малый объём памяти, так как содержат малое количество информации.
        li Векторные изображения масштабируются без потерь качества.
      p Недостатки:
      ul
        li Чтобы отобразить векторное изображение требуется произвести ряд вычислений, соответственно, сложные изображения могут требовать повышенных вычислительных мощностей.
        li Не каждая графическая сцена может быть представлена в векторном виде: для сложного изображения с широкой цветовой гаммой может потребоваться огромное количество точек и кривых, что нивелирует все преимущества векторной графики.
      p Самые популярные векторные форматы: SVG, AI.
