extends ../../layout/layout

block variables
  - var title = 'Спрайты.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn Спрайт] — это одно большое изображение, в котором содержится много маленьких. Как бы карта изображений.
      p Пример:
      p
        img(src='../../img/sprite.png' width='469' height='133' alt='')(style='padding: 10px; background: #34495f;')
      p Спрайты используются, чтобы снизить количество запросов на сервер. Каждая маленькая картинка – это отдельный запрос, а чем меньше запросов, тем лучше. Поэтому маленькие картинки «склеивают» в одну большую.
      p Части спрайта отображают в элементах с небольшими размерами. Такому элементу задают картинку-спрайт в качестве фона и с помощью #[a(href='../css-properties/background-position.html') background-position] смещают её таким образом, чтобы была видна нужная её часть. Самим элементам нужно задавать фиксированные размеры, иначе если размеры будут меняться, то в блоке могут отображаться и другие фрагменты спрайта, что является ошибкой вёрстки.
      p В спрайты обычно объединяют иконки и различные мелкие декоративные изображения.
      p Есть серверы для быстрого создания спрайтов и генерации CSS-кода для них. Например, #[a(href='https://spritegen.website-performance.org' target='_blank' rel='nofollow noopener') spritegen] или #[a(href='https://spritepad.wearekiss.com' target='_blank' rel='nofollow noopener') spritepad].
