extends ../../layout/layout

block variables
  - var title = 'Функция steps'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p При использовании функции #[b steps] переходы и анимации будут происходить пошагово.
      pre
        code.
          steps(number, start/end)
      p Длительность перехода или анимации делится на равные отрезки времени в соответствии с количеством шагов (#[b number]).
      p Второй параметр влияет на то, когда в пределах каждого отрезка времени будет происходить изменение CSS-свойств: в начале или в конце. Значение #[b end] — по умолчанию.
      p При значении #[b start] анимация фактически будет завершаться чуть раньше.
      p Псевдонимы функций:
      ul
        li #[b step-start] — равнозначен #[b steps(1, start)]. Стилевые свойства сразу принимают конечные значения.
        li #[b step-end] — равнозначен #[b steps(1, end)]. Стилевые свойства находятся в начальном значении заданное время, затем сразу принимают конечные значения.
