extends ../../layout/layout

block variables
  - var title = 'Оформление текста.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      h2 Отступы и рамки.
      p Горизонтальные внутренние отступы для элементов со строчным боксом применяются обычным образом, а верхний отступ накладывается поверх соседнего элемента, а нижний размещается под соседним элементом.
      p
        img(src='../../img/inline-paddings.png' width='960' height='186' alt='')
      ul
        li #[a(href='../css-properties/box-decoration-break.html') box-decoration-break] — отображение элемента, расположившегося на нескольких строках.
      h2 Основные параметры шрифта.
      ul
        li #[a(href='../css-properties/font-family.html') font-family] — семейство шрифта.
        li #[a(href='../css-properties/font-size.html') font-size] — размер шрифта.
        li #[a(href='../css-properties/line-height.html') line-height] — высота строки.
        li #[a(href='../css-properties/font-weight.html') font-weight] — толщина шрифта.
        li #[a(href='../css-properties/font-style.html') font-style] — стиль шрифта.
        li #[a(href='../css-properties/font-variant.html') font-variant] — вариант отображения символов.
        li #[a(href='../css-properties/font.html') font] — составное свойство (weight style variant size/line-height family).
      h2 Дополнительные параметры шрифта.
      ul
        li #[a(href='../css-properties/text-align.html') text-align] — горизонтальное выравнивание.
        li #[a(href='../css-properties/vertical-align.html') vertical-align] — вертикальное выравнивание.
        li #[a(href='../css-properties/text-transform.html') text-transform] — регистр символов.
        li #[a(href='../css-properties/text-decoration.html') text-decoration] — декоративная линия.
        li #[a(href='../css-properties/color.html') color] — цвет текста.
        li #[a(href='../css-properties/text-shadow.html') text-shadow] — тень текста.
        li #[a(href='../css-properties/word-spacing.html') word-spacing] — дополнительное расстояние между словами.
        li #[a(href='../css-properties/letter-spacing.html') letter-spacing] — дополнительное межсимвольное расстояние.
        li #[a(href='../css-properties/white-space.html') white-space] — управление пробелами и переносами строк.
        li #[a(href='../css-properties/overflow-wrap.html') overflow-wrap] — управление переносом непомещающихся слов.
        li #[a(href='../css-properties/word-break.html') word-break] — управление переносом непомещающихся слов.
        li #[a(href='../css-properties/word-wrap.html') word-wrap] — управление переносом непомещающихся слов (старое).
        li #[a(href='../css-properties/text-overflow.html') text-overflow] — переполнение текста.
        li #[a(href='../css-properties/text-indent.html') text-indent] — отступ первой строки.
        li #[a(href='../css-properties/direction-and-unicode-bidi.html') direction и unicode-bidi] — направление текста.
        li #[a(href='../css-properties/writing-mode.html') writing-mode] — режим печати.
      h2 Псевдоэлементы.
      ul
        li #[a(href='../css-pseudo-elements/first-letter.html') first-letter] — первый символ текста.
        li #[a(href='../css-pseudo-elements/first-line.html') first-line] — первая строка текста.
      h2 Курсор.
      ul
        li #[a(href='../css-properties/cursor.html') cursor] — вид курсора.
      h2 Стилизация списков ul и ol.
      ul
        li #[a(href='../css-properties/list-style-type.html') list-style-type] — вид маркера или номера.
        li #[a(href='../css-properties/list-style-image.html') list-style-image] — картинка, которая будет отображаться вместо маркера.
        li #[a(href='../css-properties/list-style-position.html') list-style-position] — позиция маркера, относительно элемента списка.
        li #[a(href='../css-properties/list-style.html') list-style] — составное свойство (type image position).
