extends ../../layout/layout

block variables
  - var title = 'Трансформации.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Свойство #[b transform] применяет трансформацию.
      p Значения:
        ul
          li Одна или несколько функций трансформации.
          li #[b none] — (по умолчанию) без трансформации.
      h2 Двумерные трансформации.
      p Пример:
      pre
        code.
          transform: translateX(100px);
          transform: translateY(-50px) rotate(45deg);
      h3 Перемещение.
      ul
        li #[b translateX(value)] — перемещение по оси X.
        li #[b translateY(value) ] — перемещение по оси Y.
        li #[b translate(value-1, value-2)] — перемещение по оси X (#[b value-1]) и по оси Y (#[b value-2]). Если второй аргумент не передан, его значением будет #[b 0].
      p В качестве аргументов принимаются численные значения с указанием единиц измерения.
      h3 Масштабирование.
      ul
        li #[b scaleX(value)] — изменение размера по оси X.
        li #[b scaleY(value) ] — изменение размера по оси Y.
        li #[b scale(value-1, value-2)] — изменение размера по обеим осям. Если второй аргумент не передан, то он принимается равным первому.
      p Аргументом функции может быть любое число. При #[b 1] элемент имеет исходные размеры.
      p #[b scale(0)] полностью «схлопнет» объект и его не будет видно.
      p При #[b scaleX(-1)] объект зеркально отражается по горизонтали, а при #[b scale(-1, -1)] отражается по обоим осям. Меньшие чем #[b -1] значения будут растягивать отзеркаленный объект.
      p #[strong Вместе с объектом масштабируется и его система координат].
      h3 Вращение.
      ul
        li #[b rotate(угол)] — вращение.
      p Угол поворота задаётся в градусах (#[b deg]). Положительное значение угла повернёт объект по часовой стрелке, а отрицательное — против.
      p Вместе с объектом поворачивается его система координат.
      p Пример:
      pre
        code.
          transform: rotate(90deg);
      p
        img(src='../../img/transform-rotate.png' width='600' height='270' alt='')
      p Теперь, чтобы повёрнутый на #[b 90deg] блок двигать по горизонтали, нужно применять #[b translateY], а по вертикали — #[b translateX].
      h3 Наклон.
      ul
        li #[b skewX(угол)] — наклон по оси X.
        li #[b skewY(угол) ] — наклон по оси Y.
        li #[b skew(угол-1, угол-2)] — наклон по обеим осям. Если второй аргумент не передан, его значением будет #[b 0].
      p Для оси X положительное значение угла наклоняет объект влево, а отрицательное — вправо.
      p Для оси Y положительное значение угла наклоняет объект по часовой, а отрицательное — против.
      p При наклоне элемент искажается.
      h2 Свойство transform-origin, active-point объекта.
      p Свойство #[b transform-origin] задаёт точку отсчёта системы координат, в рамках которой будет работать трансформация.
      pre
        code.
          transform-origin: x, y;
      p Значения задаются в любых единицах измерения длины, а также ключевыми словами #[b left], #[b right], #[b top], #[b bottom] и #[b center].
      p Если второе значение не указано, то оно принимается за #[b 50%].
      p По умолчанию, значение равно #[b 50% 50%], то есть начало системы координат находится в центре объекта.
      h2 Применение трансформаций.
      p С помощью трансформаций можно поворачивать текст в блоках и фонах, создавать тени, отличающиеся от стандартных #[b box-shadow], без применения картинок, создавать различные эффекты и многое другое.
      h3 Центровка с помощью transform: translate.
      p С помощью абсолютного позиционирования и трансформаций можно отцентрировать блок с переменными размерами:
      pre
        code.
          div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
