extends ../../layout/layout

block variables
  - var title = 'Веб-безопасные шрифты.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Веб-безопасные шрифты — это те, которые установлены на компьютерах максимального количества пользователей.
      p #[a(href='https://www.cssfontstack.com' target='_blank' rel='nofollow noopener') Статистика веб-безопасных шрифтов на разных операционных системах].
      p При использовании нестандартного шрифта в качестве основного, важно указать альтернативный веб-безопасный шрифт, которым воспользуется браузер в случае, если основной не загрузится. Его нужно подобрать максимально похожим на основной шрифт.
      p Важно, чтобы запасные шрифты поддерживали язык основного шрифта, например, кириллицу, если текст на сайте написан по-русски.
      pre
        code.
          font-family: "Roboto", "Arial", sans-serif;
