extends ../../layout/layout

block variables
  - var title = 'Производительность вёрстки.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Поисковики отдают предпочтение быстрым сайтам.
      h2 Из чего состоит загрузка сайта.
      ol
        li Получение IP-адреса по названию домена (DNS).
        li Подключение к серверу по IP-адресу.
        li Установление защищённого соединения (HTTPS).
        li Запрос HTML-страницы и ожидание ответа.
      ol(start='5')
        li Загрузка HTML-страницы.
        li Парсинг HTML-документа и построение очереди загрузки ресурсов.
        li Загрузка и парсинг CSS-стилей.
        li Загрузка и отображение веб-шрифтов.
        li Загрузка и выполнение JavaScript-кода.
        li Загрузка изображений.
        li Завершение рендеринга страницы и выполнение отложенного JavaScript-кода.
      h2 Приоритеты загрузки.
      ol
        li Highest.
        li High.
        li Medium.
        li Low.
        li Lowest.
      h3 Предзагрузка ресурсов.
      pre
        code.
          &lt;head&gt;
            &lt;link rel="preload" href="/css/style.min.css" as="style"&gt;
            &lt;link rel="preload" href="/js/script.min.js" as="script"&gt;
            &lt;link rel="preload" href="/img/bg-header@2x.jpg" as="image"&gt;
            &lt;link rel="preload" href="/fonts/psans-narrow.woff2" as="font" type="font/woff2" crossorigin&gt;
          &lt;/head&gt;
      h3 Ленивая загрузка для img и iframe.
      pre
        code.
          &lt;img src="files/cat.jpg" loading="lazy" alt="Небольшой серый кот."&gt;
      p #[a(href='https://caniuse.com/loading-lazy-attr' target='_blank' rel='nofollow noopener') Поддержка].
      h3 Оптимизация изображений.
      h4 Оптимизация растровых изображений.
      p #[a(href='https://squoosh.app' target='_blank' rel='nofollow noopener') Squoosh] — онлайн-сервис для оптимизации растровых изображений.
      p Рекомендуемые параметры:
      ul
        li progressive
        li quality: ~75
      h4 Оптимизация векторных изображений.
      p #[a(href='https://svgomg.net' target='_blank' rel='nofollow noopener') SVGOMG] — онлайн-сервис для оптимизации векторных изображений.
      p Рекомендуемые параметры:
      ul
        li Precision (точность): 2
      h3 Минификаторы кода.
      ul
        li #[a(href='https://css.github.io/csso/csso.html' target='_blank' rel='nofollow noopener') CSSO] — минификатор CSS.
      h3 Скорость страницы.
      p #[a(href='https://pagespeed.web.dev' target='_blank' rel='nofollow noopener') PageSpeed Insights].
      p #[a(href='https://www.webpagetest.org' target='_blank' rel='nofollow noopener') Web Page Test] проверяет на реальных устройствах.
      h2 Общие рекомендации.
      ul
        li Помнить про блокирующие ресурсы.
        li Уменьшать размер всего.
        li Уменьшать количество ресурсов.
        li Подсказывать браузеру, какие ресурсы самые важные.
        li Тестировать на медленном интернете.
        li Мониторить изменения в будущем.
