extends ../../layout/layout

block variables
  - var title = 'Подход «Retina first».'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Этот подход заключается в использовании ретина-изображений как для экранов с повышенной плотностью пикселей, так и для обычных.
      p Особенности:
      ul
        li Проблемы с весом страниц и скоростью загрузки страниц на мобильных (Гугл учитывает оптимизацию под мобильные).
        li Масштабирование ретиновой картинки — тяжёлая операция. Ускоряет разрядку аккумулятора на мобильных устройствах.
        li Для какой ретины делать изображения: 2x, 3x или 5x?
        li Противоречит прогрессивному улучшению.
