extends ../../layout/layout

block variables
  - var title = 'Псевдокласс checked.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b checked] выбирает все элементы #[b &lt;input&gt;] с типами #[b checkbox] или #[b radio], которые являются выбранными (отмеченными).
