extends ../../layout/layout

block variables
  - var title = 'Псевдокласс enabled.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b enabled] выбирает все доступные поля формы (поля без атрибута #[b disabled]).
