extends ../../layout/layout

block variables
  - var title = 'Псевдокласс focus-visible.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Элемент попадает в фокус при клике на него, а также при последовательном нажатии кнопки Tab. С помощью псевдокласса #[a(href='focus.html') focus] описываются стили для элемента, который оказался в фокусе любым способом.
      p Псевдокласс #[b focus-visible] задаёт стили элемента, которые отображаются только когда элемент оказался в фокусе при последовательной нажатии кнопки Tab. Когда элемент оказывается в фокусе при клике, эти стили не отображаются. Это соответствует собственному поведению фокуса для таких элементов управления, как #[b &lt;button&gt;&lt;/button&gt;].
