extends ../../layout/layout

block variables
  - var title = 'Псевдокласс focus.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b focus] выбирает элемент, который находится в фокус.
      P Например, текстовое поле, в которое установлен курсор, находится в фокусе.
      p Пример:
      pre
        code.
          input:focus {
            /* Стили для поля в фокусе. */
          }
      p В фокусе могут быть не только текстовые поля. Если вы переключаетесь между элементами веб-страницы с помощью клавиши Tab, то в фокус будут попадать ссылки и кнопки.
