extends ../../layout/layout

block variables
  - var title = 'Псевдокласс hover.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Пссевдокласс #[b hover] выбирает элемент, на который наведён курсор мыши.
      p Примеры:
      pre
        code.
          a:hover { ... }
          tr:hover { ... }
          .menu-item:hover { ... }
      p Первый селектор выбирает ссылку, второй строку таблицы, третий элемент с классом #[b menu-item], но только в том случае, если на них наведён курсор мыши.
      p Благодаря этому псевдоклассу можно добавлять в интерфейс динамику и интерактивность, так как элементы начинают реагировать на действия пользователя, изменяя свой внешний вид.
      h2 Динамические эффекты с помощью hover.
      p Львиная доля динамических эффектов, создаваемых с помощью CSS, опираются на несколько псевдоклассов, главный из которых #[b hover]. Весь секрет заключается в сочетании контекстных селекторов и псевдоклассов.
      h3 Создание выпадающего меню с помощью CSS.
      pre
        code.
          li.top ul.submenu {
            display: none;
          }

          li.top:hover ul.submenu {
            display: block;
          }
      p Первое правило прячет список-подменю. Второе правило означает: «показать подменю, если на верхний пункт меню, в котором оно находится, наведён курсор». Вот так всё просто.
      P Общий принцип такой: родительский элемент реагирует на наведение мыши и изменяет свойства элементов-потомков. То есть всё работает на контекстных селекторах вида #[b селектор-1:hover селектор-2].
