extends ../../layout/layout

block variables
  - var title = 'Псевдокласс in-range.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Полям для ввода чисел (#[b &lt;input&gt;] с типом #[b number]) можно задать минимальное и максимальное значения при помощи атрибутов #[b min] и #[b max].
      p Псевдокласс #[b in-range] выбирает все числовые поля формы, значение которых попадает в заданный диапазон.
