extends ../../layout/layout

block variables
  - var title = 'Псевдокласс link.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b link] выбирает непосещённую ссылку.
