extends ../../layout/layout

block variables
  - var title = 'Псевдокласс not.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b not(селектор)] является отрицающим селектором. С его помощью можно выбрать элементы, которые #[em НЕ] соответствуют указанному селектору.
      p В качестве отрицаемого селектора могут указываться псевдоклассы, теги, идентификаторы, классы и селекторы атрибутов.
      p Пример:
      pre
        code.
          li:not(:last-child) { ... }
      p Этот селектор выберет все теги #[b &lt;li&gt;&lt;/li&gt;], #[em НЕ] являющиеся последними в их родителе.
      p Нельзя использовать двойной псевдокласс #[b not], то есть конструкция #[b li:not(:not(...))] не сработает.
      p Также в комбинации с #[b not] не применяются:
      ul
        li Объединение селекторов: например, #[b li:not(.heart.jack)] — неккоректный селектор.
        li Псевдоэлементы: #[b li:not(::after)] — неправильная запись.
        li Селекторы-потомки, групповые селекторы или комбинации: например, нельзя писать #[b li:not(a span)] или #[b li:not(a + span)].
      p Псевдокласс #[b not] имеет нулевую специфичность.
      h2 Комбинации с not.
      p Отрицающий селектор #[b not], как и любые другие селекторы, можно комбинировать с другими.
      p Пример:
      pre
        code.
          li:not(:first-child):not(:last-child) { ... }
      p Выберет все теги #[b &lt;li&gt;&lt;/li&gt;], которые #[em НЕ] являются первыми и последними в их родителе.
