extends ../../layout/layout

block variables
  - var title = 'Псевдокласс optional.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b optional] выбирает необязательные для заполнения поля формы (поля без атрибута #[b required]).
