extends ../../layout/layout

block variables
  - var title = 'Псевдокласс required.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Псевдокласс #[b required] выбирает обязательные для заполнения поля формы (поля с атрибутом #[b required]).
