extends ../../layout/layout

block variables
  - var title = 'Адаптив.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p Основная задача адаптивности — сделать интерфейс доступным для устройств с любым экраном и любыми органами управления.
      h2 Требования к мобильному интерфейсу.
      ul
        li Наиболее важные функции должны быть доступны одной рукой, чтобы всё самое важное можно было сделать одним пальцем, не перехватывая устройство другой рукой.
        li Все важные функции и контент должны быть хорошо видны, чтобы пользователь сразу находил всё нужное, даже если находится в движении.
        li Интерфейс должен явно указывать, где сейчас находится пользователь и что происходит, чтобы пользователь при возвращении к интерфейсу легко понял, что он делал и на чём остановился.
        li Нужно максимально упрощать процессы, например, при регистрации или оформлении заказа. В сложных процессах следует сокращать количество шагов, чтобы не заставлять пользователя глубоко погружаться и уменьшить риски прерывания процесса.
      h2 Упрощение.
      p При создании мобильной версии отбрасывайте лишние декоративные элементы и упрощайте сложные структуры контента, делая их линейными и последовательными.
      h2 Размер интерактивных элементов
      p Старайтесь создавать кликабельные области не менее 32 на 32 пикселя для десктопа и не менее 40 на 40 — для мобильных. В идеале — делать ещё крупнее. Рекомендуемый размер 48 на 48.
      h2 Количество начертаний.
      p Если у вас есть возможность ограничить количество начертаний — сделайте это, вам будет проще работать с ограниченным набором вариантов.
      h2 Размер текста.
      p На телефоне удобно читать текст размером не менее 14px.
      p Для статей или новостей шрифт нужно делать чуть крупнее — 16–18px.
      p Чем больше шрифт, тем меньше допустимая и комфортная для чтения высота строки — если считать коэффициент от размера шрифта. Таким образом, если мы уменьшаем для мобильного интерфейса тексты, то и коэффициент высоты строки будет становиться меньше.
      p Для инпутов делайте шрифт не менее 16 пикселей, иначе устройства от Apple будут «зумить» интерфейс при фокусе на поле.
      h3 Сохраняйте соотношение между размерами.
      p План:
      ol
        li Сначала подобрать удобный размер для основных текстов;
        li Затем подобрать размер для основного заголовка страницы;
        li Все остальные размеры отмасштабировать так, чтобы между ними сохранилось такое же соотношение, как и между десктопными размерами;
      p Ориентируйтесь при этом не только на цифры (хотя с них проще начать, найдя коэффициенты), но и на внешний вид.
      h2 Тестирование.
      p Используйте для тестирования адаптивных версий мобильный телефон и планшет: интерфейс на них смотрится иначе, чем в небольшом фрейме в Фигме или режиме адаптивного дизайна в браузере. Из-за разницы в расположении и расстоянии до глаз при использовании других устройств этот эффект будет особенно силён при работе с текстом.
      p У Фигмы есть приложение для мобильных телефонов. Оно создано не для работы, а для тестирования прототипов. Чтобы лучше понимать масштабы интерфейса, попробуйте запустить прототип и открыть его на своём телефоне. Вы сможете прямо в процессе наблюдать, как меняется интерфейс на экране мобильного, и гораздо лучше понимать, как он выглядит на реальном устройстве, а не внутри рабочей области Фигмы. Это поможет при подборе размеров.
