extends ../../layout/layout

block variables
  - var title = 'Иерархия контента.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn Иерархия контента] — это организация пространства на макете, когда выстраивается понятный пользователю порядок элементов.
      p Правильная иерархия помогает пользователю отделить важные элементы от второстепенных.
      p Основа иерархии контента — текст. Меняя размер и вида шрифта, можно настроить контраст между текстовыми элементами.
      h2 Структуризация текста.
      p Сначала нужно разделить текст на уровни:
      ol
        li Заголовки — самые значимые элементы, которые пользователь заметит в первую очередь.
        li Подзаголовки или короткие подписи.
        li Основной наборный текст.
      p В типографике достаточно трёх уровней, но их может быть больше.
      p Приёмы для построения иерархии текста:
      ul
        li Размер элементов.
        li Шрифт.
        li Цвет.
        li Расстояние между элементами.
