extends ../../layout/layout

block variables
  - var title = 'Дизайн-токены'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn Дизайн-токены] — это единица визуального стиля, включает в себя один или несколько параметров.
      p Чаще всего туда попадают такие параметры как отступы и размеры, шрифтовые стили, цвета, радиусы скругления. Иногда и что-то более специфическое, например, функции анимации.
