extends ../../layout/layout

block variables
  - var title = 'Цвет.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      h2 Теория цвета.
      p #[dfn Теория цвета] — обширное понятие, которое описывает особенности восприятия человеком разных цветовых решений.
      p Цвет играет первостепенную роль в дизайне. Он влияет на психику и эмоциональное состояние человека, поэтому правильно подобранные цвета помогают передать настроение проекта, удержать внимание или подтолкнуть к определённым действиям. Всё это и изучает теория цвета.
      h3 Категории цветов.
      ul
        li Основные (первичные) цвета — красный, жёлтый и синий. Они являются основой любого другого цвета, то есть из них формируются все остальные.
        li Вторичные цвета — полученные из смешения двух основных.
        li Третичные цвета — полученные из смешения основного и вторичного цвета.
      h3 Основные понятия теории цвета.
      ul
        li #[dfn Тон] — основа цвета, которая указывает на конкретный цветовой пигмент.
        li #[dfn Хроматичность] — описывает чистоту тона. Определяется по наличию в цвете чёрного, белого или серого. Считается, что цвет обладает высокой хроматичностью, когда в нём нет этих цветов.
        li #[dfn Насыщенность] — описывает, как выглядит цвет при разном освещении.
        li #[dfn Яркость] — определяет, насколько цвет является ярким или тёмным. Чем больше белого в тоне, тем выше яркость.
        li #[dfn Тени] — затемняют цвет при помощи добавления в его тон чёрного цвета.
        li #[dfn Оттенок] — понятие, противоположное тени. Показывает, сколько белого добавлено к цвету.
        li #[dfn Тональность] — описывает, как выглядит цвет после добавления в тон серого цвета. Чем больше серого, тем тусклее цвет.
      p #[a(href='https://prowe214.github.io/color-shader' target='_blank' rel='nofollow noopener') Сервис для подбора оттенков].
      h3 Цветовые палитры.
      p #[dfn Цветовая палитра] — это набор из нескольких цветов, используемых в одном проекте. Цвета в ней согласованы и гармоничны.
      p Использование палитры помогает добиться цветового баланса.
      p Есть несколько основных видов цветовых палитр:
      ul
        li #[dfn Монохроматическая] — используется один цвет в разных оттенках.
        li #[dfn Аналоговая] — используются цвета, находящиеся рядом на цветовом круге.
        li #[dfn Комплементарная] — используются два цвета, находящиеся напротив друг друга в цветовом круге, то есть она формируется из противоположных цветов.
        li #[dfn Раздельно-комплементарная] — когда один из пары противоположных цветов разбивается на два соседних по цветовому кругу.
        li #[dfn Триадическая] — используются три равноудалённых цвета на цветовом круге.
        li #[dfn Прямоугольная (четвертичная)] — используются четыре цвета: две пары комплементарных цветов.
      h2 Цветовые пространства.
      p #[dfn Цветовое пространство] — это формат представления цвета на основе системы координат. Зная координаты, можно с точностью определить тот или иной цвет.
      ul
        li CMYK. Создано для использования в печати. Принцип его построения заключается в смешивании четырёх цветов: бирюзового (#[b C]ian), пурпурного (#[b M]agenta), жёлтого (#[b Y]ellow) и чёрного (Key color, blac#[b K]).
        li RGB. В его основе лежат три цвета: красный (#[b R]ed), зелёный (#[b G]reen) и синий (#[b B]lue).
        li HSB (HSV). Цвет состоит из трёх параметров: тон (#[b H]ue), насыщенность (#[b S]aturation) и яркость (#[b B]rightness).
        li HSL. Цвет состоит из трёх параметров: тон (#[b H]ue), насыщенность (#[b S]aturation) и светлота (#[b L]ightness).
      h2 Контрастность.
      p #[dfn Контрастность цвета] — это соотношение яркости цвета элемента к яркости цвета фона, на котором располагается элемент.
      p Коэффициент контрастности рассчитывается, исходя из разности в интенсивности излучаемого света между двумя цветами на экране. Диапазон значений от 1 до 21:
      ul
        li 1:1 — минимальная контрастность, которая соответствует белому тексту на белом фоне.
        li 21:1 — максимальная контрастность, соответствующая чёрному тексту на белом.
      p #[a(href='https://www.siegemedia.com/contrast-ratio' target='_blank' rel='nofollow noopener') Калькулятор для вычисления коэффициента контрастности].
      h3 Рекомендованные значения.
      ul
        li Для мелких шрифтов (обычный менее 18px, полужирный менее 14px) коэффициент контрастности должен быть минимум 4,5:1.
        li Для крупных шрифтов (обычный не менее 18px, полужирный не менее 14px) коэффициент контрастности должен быть минимум 3,0:1.
      h2 Правила.
      h3 Не начинайте работу над макетом с выбора цвета и палитры.
      p Лучше сначала сфокусироваться на пространстве и расположении элементов, чтобы увидеть, как будет выглядеть будущий интерфейс.
      h3 Количество цветов.
      p Для хорошего баланса в макете следует использовать не более трёх цветов, не считая дополнительных (для показа ошибок, успеха и другие).
      h3 60/30/10.
      p Все элементы разделяются по цветам, исходя из соотношения: 60% пространства макета предназначено для основного цвета, 30% — для вторичного цвета, 10% — для выделения акцентов.
      h3 Не используйте абсолютно чёрные и абсолютно белые цвета.
      p Они могут утомлять глаза при считывании информации, да и в реальной жизни таких цветов не бывает.
