extends ../../layout/layout

block variables
  - var title = 'Для чего разработчикам понимать дизайн?'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      h2 Взаимопонимание с дизайнерами.
      p Знание основ дизайна поможет вам увидеть логику в решениях дизайнера. Владея таким навыком, вы сможете лучше понимать макеты и предлагать правки.
      h2 Работа с макетом.
      p Если вы знаете, по каким принципам строится расположение элементов в сетке, то лучше понимаете макеты и можете гораздо точнее и быстрее создавать резиновую вёрстку и адаптив.
      h2 Перенос логики из дизайна в код.
      p В хорошем дизайне нет ничего случайного: подбор цветов, размеров и расстояний между элементами, настройка шрифтов — всё это имеет в своём основании логику. Зная принципы дизайна, вы можете переносить эту логику в код — повторять не картинку, которую представляет собой интерфейс, а его принципы построения.
      h2 Понимание ошибок.
      p В макетах бывают ошибки. Иногда они явные, а иногда их сложно отличить от задумки.
