extends ../../layout/layout

block variables
  - var title = 'Сетка и ритм.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      h2 Базовые правила композиции в дизайне интерфейсов.
      p #[dfn Композиция] — это компоновка отдельных элементов в единое целое и соотнесение их друг с другом. Но самое важное, это метод воздействия на внимание пользователя: с помощью композиционных приёмов можно выделять нужное, расставить приоритеты и подтолкнуть к изучению контента.
      h3 Плоскость и глубина.
      p Глубину можно создать за счёт расположения и формы элементов, визуальных эффектов и цвета.
      h3 Статика и динамика.
      p В интерфейсах дизайнеры стараются задать такой ритм, при котором попеременно идут статика и динамика с движением вперёд. Статичные объекты нужны для «отдыха», а динамичные подталкивают к изучению материала.
      p В нашей культуре движение слева направо ассоциируется с движением вперёд. Из-за такой особенности правая сторона рабочей области воспринимается более динамичной, будто она обладает потенциалом для движения вниз.
      h3 Способы акцентирования внимания.
      ul
        li Размер — сделать объект настолько большим, чтобы он привлекал внимание, но при этом не стал слишком крупным для интерфейса.
        li Цвет — яркий цвет выделит элемент, но акцентного цвета на странице должно быть примерно 10%, иначе интерфейс станет слишком пёстрым.
        li Форма — можно привлечь внимание нестандартной формой объекта.
        li Пустое пространство — пустота вокруг элемента отделяет его от остальных и делает более заметным. Причём вам не нужно дополнительно выделять элемент ярким цветом или делать его крупнее.
      h3 Теория близости.
      p Самый простой способ упорядочить макет или выстроить внутренние элементы внутри базовой композиции — воспользоваться «правилом внутреннего и внешнего», или «теорией близости».
      p Теория простая: <strong>чем больше элементы связаны, тем ближе друг к другу они должны быть</strong>. Например, заголовок и параграф под ним связаны больше, чем заголовок и параграф над ним. Поэтому заголовок должен стоять ближе к нижнему параграфу.
      h2 Сетки.
      p #[dfn Сетка] — это набор направляющих, построенный по выбранному или созданному дизайнером принципу и применённый ко всей рабочей области сайта или внутри конкретного фрейма.
      p Она используется как система координат, в которой можно расположить элементы, определяет базовые расстояния, отступы и размеры элементов.
      p Преимущества использования сетки:
      ul
        li Аккуратный макет, где блоки сайта выровнены относительно друг друга.
        li Не нужно каждый раз считать расстояния между элементами и блоками, что ускоряет работу.
        li Меньше шансов совершить ошибку, а если она вкралась, её легко распознать через наложение сетки.
        li Сохраняются консистентность и порядок в макете, даже при использовании хаотичной композиции.
      h3 Виды сеток.
      h4 Манускриптная сетка.
      p Представляет собой прямоугольную область, в которую вмещается контент.
      h4 Мультиколоночная сетка.
      p Такая сетка состоит из колонок, межколонников и боковых отступов. Отступы по краям и межколонники делаются фиксированного размера, а колонки занимают всё свободное пространство. Чаще всего колонки равны по размеру, хотя не существует правил, запрещающих создавать разные колонки.
      p Обычно для макетов используют сетки из трёх, четырёх, восьми или двенадцати равных колонок, но 12 — чаще всего. Дело в том, что 12 делится на максимально большое количество чисел: на 2, 3, 4 и 6. Это даёт больше возможностей по распределению элементов по сетке.
      h4 Модульная сетка.
      p Если к мультиколоночной сетке добавить аналогичное разделение по рядам, то мы получится модульная сетка.
      p Такая сетка не применяется в вебе в полную силу.
      p #[dfn Модуль] — это пространство, занимающее определённое количество рядов и колонок.
      p Сетки внутри модулей могут и, скорее всего, не будут следовать большой внешней сетке. Но это не значит, что внутри элементы расположены хаотично. Они тоже следуют каким-то принципам. Например, по правилу внутреннего и внешнего.
      h4 Базовая сетка.
      p Это сетка представляет собой вертикальные, а иногда и горизонтальные интервалы, напоминающие линованные листы бумаги. Применять такую сетку в веб-интерфейсах технически сложно, но иногда мы стараемся к этому приблизиться.
      p Такая сетка часто используется для выравнивания мелких элементов вместе с другой сеткой, предназначенной для композиции.
      h5 Вертикальный ритм в дизайне интерфейсов.
      p #[dfn Вертикальный ритм] — это привязка размеров элементов и расстояний между ними к базовой сетке. Он делает интерфейс более предсказуемым, чтобы по нему было легче передвигаться и воспринимать информацию.
      p Вертикальный ритм формируется благодаря отступам и размерам элементов, которые создают привязки к базовой сетке.
      p В теории можно продумать размеры и параметры всех сеток, блоков, отступов или высоты строк так, чтобы вертикальный ритм был идеально выверен. Но на практике обязательно встречаются какие-то исключения, сбои и прочие нюансы, которые рушат вертикальный ритм.
