extends ../../layout/layout

block variables
  - var title = 'Типографика.'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn Типографика] — техника в дизайне, которая описывает работу с текстом. Текст составляет большую часть любого интерфейса, поэтому от типографики зависит, как пользователь будет воспринимать дизайн.
      h2 Параметры текста.
      ul
        li #[dfn Гарнитура] — набор шрифтов, отличных по начертанию, но одинаковых по характеру изображения букв.
        li #[dfn Шрифт] — одно конкретное начертание в рамках гарнитуры.
        li Размер шрифта.
        li #[dfn Трекинг] — расстояние между всеми символами в границах одного слова.
        li #[dfn Кернинг] — корректировка расстояний между парами букв. Без кернинга текст выглядел бы неоднородным, ввиду того, что символы имеют разный визуальный вес.
        li Межстрочное расстояние (интерлиньяж).
      h2 Правила.
      h3 Шрифтовые пары.
      p Шрифты должны сочетаться, дополнять друг друга.
      p #[dfn Шрифтовая пара] — это два контрастных (явно различающихся) шрифта, при этом сочетающиеся между собой.
      p Самый простой пример шрифтовой пары — заголовок в начертании Bold и наборный текст в начертании Regular.
      h3 Вид гарнитуры.
      p Большие объемы текста, набранные #[b антиква] (с засечками) читаются легче.
      p #[b Гротеск] (без засечек) чаще используют для заголовков и небольших текстов.
      p #[b Декоративные] используются только для украшения (в заголовках, логотипах).
      h3 Вид шрифта.
      p Жирные и курсивные шрифты не стоит использовать для наборного текста, поскольку они плохо читаются. Они подойдут для заголовков и коротких текстовых элементов.
      h3 Количество шрифтов.
      p В проекте должно быть не больше двух шрифтов.
      h3 Размер шрифта.
      p Для основного текста используется размер шрифта не менее 16px — текст с таким размером хорошо читается на всех устройствах. Для незначительных текстовых элементов можно использовать 14px, но ниже этой границы уходить не стоит.
      h3 Трекинг.
      p Прописные буквы необходимо разрежать всегда — увеличивать трекинг, а строчные буквы — никогда.
      h3 Межстрочное расстояние.
      p Чем длиннее строка, тем больше межстрочное расстояние, и наоборот.
      p Обычно используют значение между 120–150% от размера шрифта.
      h3 Длина строки.
      p Оптимально размещать в строке около 60 символов. Тогда пользователь не почувствует дискомфорт при чтении текста.
      p На мобильных устройствах используйте строки из 30–40 символов.
      h3 Базовая линия.
      p #[dfn Базовая линия] (baseline) — невидимая линия, проходящая по нижнему краю букв без учёта выносных элементов.
      p Текстовые элементы с разным размером шрифта должны выравниваться по базовой линии.
      h3 Использование стилей.
      p Не используйте много стилей в одном текстовом элементе. Это выглядит плохо, каждый элемент будет пытаться перетянуть внимание на себя.
      h3 Типографические мелочи.
      p Висячие предлоги лучше убрать.
      p Ставьте правильные дефисы, короткое тире и тире. Дефис используется в пределах одного слова: как-то, где-нибудь. Короткое тире ставят между датами и числами: 1992–1998, январь–февраль. Тире используется между словами в предложении: арбуз — это ягода.
      p Кавычки. В русском языке используются ёлочки — «». Если кавычки в кавычках, то внутри ёлочек используются лапки — „“.
      p Не забывайте про буквы «ё» и «й». Они тоже существуют, и их нужно использовать.
      p Орфография и пунктуация. Всегда проверяйте текст на ошибки. Иногда проще попросить об этом другого человека, поскольку при долгой работе с текстом глаз замыливается.
