extends ../../layout/layout

block variables
  - var title = 'Пользовательский опыт'
  - var pageClass = 'article-page'

block content
  main
    article.article.container
      h1= title
      p #[dfn #[abbr(title='User eXperience') UX]] — это опыт, который пользователь получает при взаимодействии с продуктом. Следовательно, UX-дизайн — это процесс, который определяет, каким будем опыт использования продукта.
      p #[dfn #[abbr(title='User Interface') UI]] — физическое воплощение UX.
      dl
        dt #[b Закон Фиттса]
        dd Чем дальше объект (от последнего клика мыши) и чем сложнее на него кликнуть, тем больше на это требуется времени.
        dt #[b Закон Хика-Хаймана]
        dd Чем меньше объектов в одном информационном блоке, тем быстрее пользователь совершит выбор, связанный с этими объектами.
        dt #[b Закон Миллера]
        dd Кратковременная память человека ограничена. Информацию нужно сокращать и разделять на порции (по закону Хика-Хаймана).
        dt #[b Закон Нильсена]
        dd Не нужно придумывать что-то своё, используйте устоявшиеся паттерны взаимодействия в вебе.
        dt #[b Закон Теслера]
        dd В первую очередь нужно заботиться о конечном пользователе. Делать интерфейс таким, чтобы он был удобен для использования, а не разработки или дизайна. Для этого нужно переложить решение всех возможных задач на систему (разработчика и дизайнера), а не на конечного пользователя.
      h2 Стандартные UX-паттерны
      p #[dfn #[abbr(title='User eXperience') Паттерн]] — это шаблон, который повторяется много раз. В UX паттерн обозначает шаблоны пользовательского опыта. Шаблоном может быть как какое-то взаимодействие с интерфейсом, например, автозаполнение текста при наборе первых букв, так и форма или расположение определённого элемента, например, прямоугольная форма кнопки.
      p В дизайне интерфейсов паттерны делят на два вида:
      ul
        li UX-паттерны — шаблоны взаимодействия с интерфейсом.
        li UI-паттерны — шаблоны внешнего вида и расположения элементов.
      p Важно использовать оба вида паттернов, чтобы сформировать положительный пользовательский опыт.
      h3 UX-паттерны
      ul
        li Позволяйте пользователю изучать интерфейс без тяжёлых последствий.
        li Позволяйте пользователю моментально достигать цели.
        li Важные элементы интерфейса должны быть заметны в первую очередь.
        li Схожие элементы должны выполнять одинаковые действия на всех страницах.
        li Позволяйте пользователю настраивать интерфейс под себя.
        li Реализуйте автоматическое выполнение повторяющихся действий.
        li Напоминайте пользователю о важных действиях.
        li Сообщайте пользователю о совершённом действии.
      h3 UI-паттерны
      ul
        li Кнопка должна быть прямоугольной.
        li Добавляйте различия в основную и второстепенную кнопку.
        li У кнопок должны быть состояния по наведению и клику.
        li Ссылки в тексте должны иметь подчеркивание и быть синего цвета или акцентного.
        li Логотип должен быть в левом верхнем углу навигационного меню.
        li В десктопной версии навигационное меню должно располагаться сверху страницы.
        li В мобильной версии допустимо располагать меню снизу страницы.
        li Для экономии места можно использовать меню-гамбургер, если в меню много пунктов. При этом лучше вынести из него несколько самых важных пунктов ниже, чтобы пользователь мог быстрее сориентироваться.
        li Если пунктов мало, от гамбургера лучше отказаться.
      h2 Обратная связь
      ul
        li Обратная связь должна быть всегда, у всех элементов, с которыми возможно взаимодействие.
        li Обратная связь должна быть мгновенной и непрерывной. Она должна появляться при совершении действия и длиться до конца действия.
        li Обратная связь не должна быть грубой. Она должна быть нежной и ненавязчивой.
        li Обратная связь должна быть продуманной.
        li Обратная связь не должна обманывать пользователя.
        li Обратная связь не должна упрекать пользователя.
      h3 Кнопки
      p Может быть несколько состояний:
      ul
        li Обычное (normal/default).
        li По наведению (hover).
        li По нажатию (active/pressed/mousedown/click).
        li Недоступное или неактивное (disabled).
        li Выделенное или выбранное состояние (focused).
      h3 Ссылки
      p У ссылок должно быть дополнительное состояние — посещённое (visited). Оно особенно важно для новостных порталов, когда в статьях используется много ссылок.
      p В меню нужно выделять активную ссылку — пункт меню, чтобы пользователь понимал, где находится.
      h3 Формы
      p Элементы формы тоже должны реагировать на действия пользователя.
      h3 Индикаторы загрузки — лоадеры
      ul
        li Спиннер.
        li Прогресс-бар.
        li Прелоадер.
