extends ../../layout/layout

block variables
  - var title = 'Обработка ошибок и исключений'
  - var pageClass = 'article-page'

block content
  main(class= pageClass)
    article.content
      h1= title
      h2 Ошибки
      p Когда возникает ошибка, JavaScript генерирует объект, содержащий её детали.
      p В JavaScript есть множество встроенных конструкторов для стандартных ошибок:
      ul
        li #[code new Error(сообщение)]
        li #[code new SyntaxError(сообщение)]
        li #[code new ReferenceError(сообщение)]
        li #[code new TypeError(сообщение)]
      p Для встроенных ошибок, свойство #[code name] — это в точности имя конструктора, а свойство #[code message] берётся из аргумента.
      h2 Оператор "throw"
      p Оператор #[code throw] генерирует #[i исключение].
      pre #[code throw значение]
      p Значением исключения может быть что угодно, но всё же лучше, чтобы это был объект, желательно со свойствами #[code name] и #[code message] (для совместимости со встроенными ошибками).
      h2 "try..catch"
      p Конструкция #[code try...catch] позволяет ловить ошибки и исключения и предотвратить остановку выполнения программы при возможности их обработать.
      pre
        code.
          try {
            // исполняемый код
            // если случится ошибка, управление сразу же перейдёт в блок catch
          } catch (err) {
            // в параметр блока catch передаётся ошибка или значение исключения
          } finally {
            // выполняется всегда после try/catch
          }
      p Блок #[code catch] должен обрабатывать только те ошибки и исключения, которые ему известны и «пробрасывать» все остальные.
      p Секций #[code catch] или #[code finally] может не быть, то есть более короткие конструкции #[code try..catch] и #[code try..finally] также корректны.
