extends ../../layout/layout

block variables
  - var title = 'БЭМ'
  - var pageClass = 'article-page'

block content
  main(class= pageClass)
    article.content
      h1 JSON
      p #[dfn #[abbr(title='JavaScript Object Notation') JSON]] – это формат для представления значений и объектов. Первоначально он был создан для JavaScript, но многие другие языки также имеют библиотеки, которые могут работать с ним.
      h2 JSON.stringify
      p Метод #[code JSON.stringify] возвращает строку JSON, соответствующую указанному значению, возможно с включением только определённых свойств или с заменой значений свойств определяемым пользователем способом.
      pre
        code.
          JSON.stringify(value[, replacer, space]);
      ul
        li #[code value] – значение для кодирования
        li #[code replacer] – массив свойств для кодирования или функция соответствия
        li #[code space] – дополнительное пространство (отступы), исопользуемое для форматирования
      p JSON поддерживает следующие типы данных:
      ul
        li объекты
        li массивы
        li строки
        li числа
        li логические значения
        li #[code null]
      p #[code JSON.stringify] пропускает:
      ul
        li свойста-функции (методы)
        li символьные ключи и значения
        li свойства, содержащие #[code undefined]
      p #[code JSON.stringify] заменяет:
      ul
        li #[code undefined], встреченный в массиве, на #[code null]
      h3 replacer
      p Параметр #[code replacer] используется для кодирования объектов.
      p В качестве #[code replacer] можно передать массив названий свойств, которые будут преобразованы в JSON во всех встреченных объектах. При этом остальные свойства будут пропущены.
      p В качестве #[code replacer] можно передать функцию, которая будет вызываться для каждого свойства объекта и должна возвращать какое-либо значение (старое или новое).
      p Если функция не вернёт значение, то значением станет #[code undefined], что приведёт к тому, что свойство будет пропущено. Таким образом можно пропустить даже весь объект.
      h3 space
      p Параметр #[code space] задаёт количество пробелов или строку, которые будут использоваться для отступов каждой новой строки.
      p Применяется исключительно для логирования и красивого вывода.
      h2 Пользовательский «toJSON»
      p Как и #[code toString] для преобразования строк, объект может предоставлять метод #[code toJSON] для преобразования в JSON. #[code JSON.stringify] автоматически вызывает его, если он есть.
      h2 JSON.parse
      p Метод #[code JSON.parse] декодирует строку JSON. Возможно преобразование получаемых в процессе разбора значений свойств объектов.
      pre
        code.
          JSON.parse(text[, reviver]);
      ul
        li #[code text] – значение для кодирования
        li #[code reviver] – функция, которая будет вызываться для каждого свойства объекта и может заменить его значение.



